body, form, input, select, textarea, button { font-size:14px; line-height:18px; }
body.main {overflow-x:hidden;}
.wrap {position:relative; margin:0 auto; width:1170px; z-index:5;}

/* layout -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* Top */
#wrapTop {height:82px; border-bottom:2px solid #7c47b8; }
#wrapTop h1 {left:0; top:25px; width:174px; height:31px; background:url('/img/common/logo.png') no-repeat;}
#wrapTop .resort {right:0; top:31px; width:158px; height:21px; background:url('/img/common/resort_logo.png') no-repeat;}
#wrapTop .resort a {display:block; width:100%; height:100%;}
#wrapTop .menuBox {top:34px; left:203px;}
#wrapTop .menuBox > ul {}
#wrapTop .menuBox > ul > li {}
#wrapTop .menuBox > ul > li a {position:relative; padding:0 32px; width:122px; text-align:center; font-size:15px;}
#wrapTop .menuBox > ul > li a:after {position:absolute; left:0; top:2px; display:block; content:''; width:1px; height:14px; background:#dedede;}
#wrapTop .menuBox > ul > li:first-child a:after {display:none;}
#wrapTop .menuBox > ul > li .depth2 {display:none;}
#wrapTop .utilityBox {display:none;}


/* Footer */


/* Body */
#wrapCont {}
#wrapCont .status {}

#wrapCont .status {height:50px;}
#wrapCont .status .wrap > ul {height:50px;}
#wrapCont .status .wrap > ul > li {height:50px; font-size:15px;}

#wrapCont .status .wrap > ul > li a {font-size:15px;}
#wrapCont .status .home a { width:49px; background:url('/img/common/icon_home.png') center center no-repeat; background-size:15px 14px; font-size:0; line-height:0; text-indent:-9999px; }
#wrapCont .status .depth.first { padding:19px 30px 0 30px; }
#wrapCont .status .depth.second { margin-right:-1px; }
#wrapCont .status .depth.third { margin-right:-1px; }
#wrapCont .status .submenu {height:50px; background-image:url('/img/common/bullet_status.png'); background-position:90% 23px; padding-top:50px;}
#wrapCont .status .submenu.active, #wrapCont .status .submenu.active a {z-index:10;}
#wrapCont .status .submenu li { height:50px;}
#wrapCont .status .submenu li a { padding:19px 60px 0 30px; }
#wrapCont .status .submenu li a:hover {text-decoration:underline;}
#wrapCont .status .submenu li.now a, #wrapCont .status .submenu li.now a:hover {background:none;}
#wrapCont .status .submenu li.now {top:0; left:0; width:100%; height:51px;}


#wrapCont .cont {margin-top:55px;}
#wrapCont .sec_tit {margin-bottom:22px; font-size:38px;}
#wrapCont .sec_txt {line-height:1.6; font-size:17px;}
#wrapCont .visualBox {margin:104px auto 0; width:1351px;}


#wrapCont .main_slide {width:100%;}

#wrapCont .bx-wrapper {position:relative;}
#wrapCont .bx-wrapper .bx-pager {position:absolute;width:100%;bottom:30px;text-align: center;}
#wrapCont .bx-wrapper .bx-pager.bx-default-pager a {
  background:url('/img/common/pager.png') no-repeat bottom center; text-indent:-9999px; display:block; width:18px; height:18px; margin:0 5px; outline:0;}
#wrapCont .bx-wrapper .bx-pager.bx-default-pager a:hover,
#wrapCont .bx-wrapper .bx-pager.bx-default-pager a.active,
#wrapCont .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background:url('/img/common/pager.png') no-repeat top center;
}
#wrapCont .bx-wrapper .bx-pager-item,
#wrapCont .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline-block; vertical-align:bottom; *zoom:1; *display: inline;}
#wrapCont .bx-wrapper .bx-pager-item {font-size:0; line-height:0;}
#wrapCont .bx-wrapper .bx-prev{left:-86px; background:url('/img/common/bx_ctrl.png') no-repeat 0 0;}
#wrapCont .bx-wrapper .bx-next{right:-86px;background:url('/img/common/bx_ctrl.png') no-repeat 0 -76px;}
#wrapCont .bx-wrapper .bx-prev:hover{background-position:-76px -76px;}
#wrapCont .bx-wrapper .bx-next:hover{background-position:-76px 0;}
#wrapCont .bx-wrapper .bx-controls-direction a{
	position:absolute;
	top:50%;
	margin-top:-16px;
	outline:0;
	width:76px;
	height:76px;
	text-indent:-9999px;
	z-index:9999;
}
#wrapCont .bx-wrapper .bx-controls-direction a.disabled{display:none;}
/* AUTO CONTROLS (START / STOP) */
#wrapCont .bx-wrapper .bx-controls-auto{position:absolute; left:50%; bottom:30px; margin-left:80px; text-align:center;}
#wrapCont .bx-wrapper .bx-controls-auto .bx-start {
	display:block;
	text-indent:-9999px;
	width:19px;
	height:18px;
	outline:0;
	background:url('/img/common/bx_ctrl.png') -157px -48px no-repeat;
	margin:0 3px;
}
#wrapCont .bx-wrapper .bx-controls-auto .bx-start.active {display:none;}

#wrapCont .bx-wrapper .bx-controls-auto .bx-stop{
	display:block;
	text-indent:-9999px;
	width:19px;
	height:18px;
	outline:0;
	background:url('/img/common/bx_ctrl.png') -157px -17px no-repeat;
	margin:0 3px;
}
#wrapCont .bx-wrapper .bx-controls-auto .bx-stop.active {display:none;}

#wrapCont .main_slide .bx-wrapper .main_bx {}
#wrapCont .main_slide .bx-wrapper .main_bx li {overflow:hidden; height:594px;}
#wrapCont .main_slide .bx-wrapper .main_bx li img { position: relative;
  top: 50%;
  transform: translateY(-50%);}
#wrapCont .main_slide .bx-wrapper .main_bx li .main_info {position:absolute; bottom:80px; left:76px; padding:47px 50px; width:450px; height:290px;}
#wrapCont .main_slide .bx-wrapper .main_bx li .main_info .banner_title {line-height:1.38; font-size:36px;}
#wrapCont .main_slide .bx-wrapper .main_bx li .main_info .banner_txt {font-size:17px;}
#wrapCont .main_slide .bx-wrapper .main_bx li .main_info .btn_link {bottom:-42px; right:-40px;}


/* 콘텐츠 오브젝트 */ 
#wrapCont .obj {}
#wrapCont .reserve.obj:before {top:135px; left:50%; margin-left:-646px; width:210px; height:100px; background:url('/img/common/obj_circle.png') no-repeat center bottom;}
#wrapCont .reserve.obj:after {top:290px; right:0; width:156px; height:343px; background:url('/img/common/obj_tri.png') no-repeat center bottom;}
#wrapCont .obj.type01:after {bottom:-20%; left:-10px; width:138px; height:205px; background:url('/img/common/obj_circle.png') no-repeat right top;}

#wrapCont .contBox0 {}
#wrapCont .contBox0 .sec_tit > small {font-size:28px;}
#wrapCont .contBox0 ul {margin:50px 0 130px; padding:48px 85px; height:262px;}
#wrapCont .contBox0 ul > li {float:left; padding:0 63px; width:342px; min-height:149px; line-height:1.65; text-align:center; font-size:18px; letter-spacing:-.04em; border-left:1px solid #dedede;}
#wrapCont .contBox0 ul > li:first-child {border:0 none;}

#wrapCont .contBox1 {}
#wrapCont .contBox1 ul {overflow:hidden; margin-left:-30px; padding:50px 0 30px;}
#wrapCont .contBox1 ul > li {float:left; padding-left:30px; width:270px; }
#wrapCont .contBox1 ul > li:nth-child(even) {margin-top:50px;}
#wrapCont .contBox1 ul > li .thumb {}
#wrapCont .contBox1 ul > li .txt_box {position:absolute; bottom:0; left:30px; overflow:hidden; padding:0 20px 30px; width:270px; height:67px;  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; z-index:3;}
#wrapCont .contBox1 ul > li:hover .txt_box {height:327px; box-shadow:0px 20px 30px 0px rgba(0,13,56,0.2);}
#wrapCont .contBox1 ul > li .txt_box .explain_tit {padding:25px 0 17px; font-size:22px;}
#wrapCont .contBox1 ul > li .txt_box .explain_txt {line-height:1.8; font-size:18px;}
#wrapCont .contBox1 ul > li .txt_box .inner_link {margin-top:30px; padding-right:15px; font-size:15px; background-position:85px 0;}


#wrapCont .contBox2 {}
#wrapCont .contBox2 .ev_now {margin:50px auto 0; width:970px; height:530px;}
#wrapCont .contBox2 .now_bx {width:722% !important;}
#wrapCont .contBox2 .now_bx .bx-viewport { width: inherit !important}
#wrapCont .contBox2 .now_bx li {position:relative; width:33.33%;}
#wrapCont .contBox2 .now_bx li img {width:100%;}
#wrapCont .contBox2 .now_bx li .now_info {display:none; bottom:-70px; left:70px; padding:50px 40px; width:296px; height:316px; box-shadow:0px 20px 30px 0px rgba(0,13,56,0.2);}
/*#wrapCont .contBox2 .now_bx li .now_info .banner_txt {margin-top:0; font-size:17px;}
#wrapCont .contBox2 .now_bx li .now_info .banner_title {margin-top:15px; font-size:36px;}
#wrapCont .contBox2 .now_bx li .now_info .btn_box {text-align:left;}*/
#wrapCont .contBox2 .now_bx li .over_dim {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.7);}
#wrapCont .contBox2 .now_bx li.on .over_dim {display:none;}

#wrapCont .contBox2 .info_wrap {bottom:47px; left:50%; margin-left:-415px; padding:50px 40px; width:296px; height:374px; box-shadow:0px 20px 30px 0px rgba(0,13,56,0.2);}
#wrapCont .contBox2 .info_wrap .now_info {display:none;}
#wrapCont .contBox2 .info_wrap .now_info.on {display:block;}
#wrapCont .contBox2 .info_wrap .now_info .banner_txt {margin-top:0; font-size:15px;}
#wrapCont .contBox2 .info_wrap .now_info .banner_title {margin-bottom:15px; letter-spacing: -0.04em; font-size:30px;}
#wrapCont .contBox2 .info_wrap .now_info .btn_box {text-align:left;}

#wrapCont .contBox2 .bx-wrapper .bx-pager {bottom:-30px;}
#wrapCont .contBox2 .bx-wrapper .bx-pager.bx-default-pager a {background:url('/img/common/pager1.png') no-repeat bottom center}
#wrapCont .contBox2 .bx-wrapper .bx-pager.bx-default-pager a:hover,
#wrapCont .contBox2 .bx-wrapper .bx-pager.bx-default-pager a.active,
#wrapCont .contBox2 .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background:url('/img/common/pager1.png') no-repeat top center;
}
#wrapCont .contBox2 .bx-wrapper .bx-controls-auto {bottom:-30px;}

#wrapCont .contBox3 {padding:80px 0; background:#f5f4f6;}
#wrapCont .contBox3 .line_tit {padding-left:15px; line-height:1; font-size:22px;}
#wrapCont .contBox3 .line_tit:after {top:0; left:0; width:2px; height:21px; background:#7d47a2;}
#wrapCont .contBox3 .gWrap {margin-top:50px;}
#wrapCont .contBox3 .gLeft {width:50%;}
#wrapCont .contBox3 .gRight {padding-left:30px; width:50%; box-sizing:border-box;}
#wrapCont .contBox3 .btn_box a {padding:11px 38px;}

#wrapCont .contBox3 .reserve_box {margin:0px -15px 0;}
#wrapCont .contBox3 .reserve_box .col_2 {margin:0 15px; width:calc(50% -  30px)}
#wrapCont .contBox3 .reserve_box .tit {margin-top:15px; font-size:17px;}
#wrapCont .contBox3 .reserve_box .thumb {margin-top:32px;}
#wrapCont .contBox3 .btn_box {margin-top:35px;}
#wrapCont .contBox3 .customer {margin-top:30px;}
#wrapCont .contBox3 .customer > li {padding:48px 0 48px 184px; height:183px;  background-image:url('/img/common/bg_callcenter.jpg'); background-repeat:no-repeat; background-position:48px center;}
#wrapCont .contBox3 .customer > li:first-child {background-image:url('/img/common/bg_total.jpg');}
#wrapCont .contBox3 .customer > li dl {}
#wrapCont .contBox3 .customer > li dt {font-size:17px;}
#wrapCont .contBox3 .customer > li dd {margin-top:24px; font-size:15px;}
#wrapCont .contBox3 .customer > li dd li {margin:5px 0;}
#wrapCont .contBox3 .customer > li dd li > strong {}
#wrapCont .contBox3 .customer > li dd li .time {}
#wrapCont .contBox3 .customer > li dd li .custom {}
#wrapCont .contBox3 .customer > li dd li .bar {margin:0 14px; width:1px; height:13px;}

/* 담당자 안내 */
#wrapCont .contents {margin-top:50px; padding-bottom:50px;}
#wrapCont .contents .title {font-size:35px;}
#wrapCont .contents .title.tit_box {padding-bottom:40px;}
#wrapCont .contents .top_box {margin-top:75px; padding:70px 60px; height:307px; background-image:url('/img/officer/std_reserve.jpg');}
#wrapCont .contents .top_box .txt {line-height:1.4; text-align:left; font-size:22px; font-weight:400;}
#wrapCont .contents .top_box .btn_box {margin-top:0; text-align:left;}
#wrapCont .contents .top_box .normal {margin:30px 0 15px; padding:20px; font-size:22px;}

#wrapCont .contents .top_box.reserve {padding:58px 60px; height:auto; background-color:#edf6fb; background-image:url('/img/common/reserve_main.png'); background-size:610px 286px; background-position:95% 100%;}
#wrapCont .contents .top_box.reserve .txt {line-height:1.6; font-size:24px; font-weight:300; text-align:left; color:#333;}
#wrapCont .contents .top_box.reserve .btn_box {text-align:left;}
#wrapCont .contents .top_box.reserve .btn_box a {margin-left:0; background:#50758a;}
#wrapCont .contents .top_box.reserve .small {margin-top:11px; font-size:14px;}

#wrapCont .step_box {margin-top:70px; padding-bottom:60px; border-bottom:1px solid #dedede;}
#wrapCont .step_box > ol {}
#wrapCont .step_box > ol > li {margin:15px;}
#wrapCont .step_box > ol > li:after {top:50px; right:-43px; width:50px; height:1px;}
#wrapCont .step_box > ol > li .step_inner {margin-top:5px;}
#wrapCont .step_box .thumb {margin:0 auto 15px; width:99px; height:99px; font-size:20px; background-position:center top;}
#wrapCont .step_box .thumb > span {display:inline-block; padding-top:30px;}

#wrapCont .cont_box {margin-top:60px;}
#wrapCont .cont_box .down_box {margin-top:60px;}
#wrapCont .cont_box .sub_tit {margin-bottom:30px; font-size:22px; line-height:1.4;}
#wrapCont .cont_box .sub_tit > span {padding-right:25px; font-size:22px;}
#wrapCont .cont_box .sub_tit > em {font-size:17px;}
#wrapCont .cont_box .sub_tit > span:after {top:1px; right:12px; width:1px; height:13px; background:#dedede;}
#wrapCont .cont_box .sub_txt {font-size:16px;}
#wrapCont .cont_box .toggle_menu {margin-top:15px;}
#wrapCont .cont_box .toggle_menu dt {padding:25px 0; background-position:98% bottom;}
#wrapCont .cont_box .toggle_menu dt.on { background-position:98% top;}
#wrapCont .cont_box .toggle_menu dt .date {padding:0 55px;}
#wrapCont .cont_box .toggle_menu dt > span {font-size:17px;}
#wrapCont .cont_box .toggle_menu dd {padding:0; font-family:'NanumSquareRound', sans-serif;}
#wrapCont .cont_box .toggle_menu dd > ul {float:left; padding:25px 25px 25px 50px;}
#wrapCont .cont_box .toggle_menu dd > ul > li {margin:15px 0; padding-left:15px;}
#wrapCont .cont_box .toggle_menu dd > ul > li:after {top:7px; left:0; width:3px; height:3px;}
#wrapCont .cont_box .toggle_menu dd > ul > li > div {display:inline-block; vertical-align:top; color:#222;}
#wrapCont .cont_box .toggle_menu dd > ul > li .r_tit {width:110px;}
#wrapCont .cont_box .toggle_menu dd > ul > li .t_tit {}
#wrapCont .cont_box .toggle_menu dd > ul > li ul {margin-top:5px;}
#wrapCont .cont_box .toggle_menu dd > ul > li li {font-size:14px;}
#wrapCont .cont_box .toggle_menu dd > ul > li li .gLeft {margin-right:15px;}

#wrapCont .cont_box .toggle_menu dd .cost_box {float:right; padding:40px; width:440px; border-left:1px solid #eaeaea; }
#wrapCont .cont_box .toggle_menu dd .cost_top {}
#wrapCont .cont_box .toggle_menu dd .cost_top > p {margin:16px 0; font-size:15px;}
#wrapCont .cont_box .toggle_menu dd .cost_top .total_txt {}
#wrapCont .cont_box .toggle_menu dd .cost_top .total_cost {}
#wrapCont .cont_box .toggle_menu dd .cost_top .total_cost > b {font-size:28px;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul {font-size:15px;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li {margin:25px 0;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li .ticket{width:150px;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li > ul {margin-top:15px;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li > ul li {margin:7px 0; padding-left:13px; font-size:14px;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li > ul li:after {top:2px; left:0; width:6px; height:7px; background-image:url('/img/common/cost_bullet.gif');}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li > ul li .modify_num {margin-left:48px;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li > ul li .modify_num input {width:80px;}

#wrapCont .cont_box .part_tit  {margin-bottom:16px; font-size:17px;}
#wrapCont .cont_box .amount_wrap {margin-bottom:36px;}
#wrapCont .cont_box .amount_wrap .amount_infomation {}
#wrapCont .cont_box .amount_wrap .amount_infomation > li {}
#wrapCont .cont_box .amount_wrap .amount_infomation > li > span {padding:20px 0; height:102px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .add {padding-right:50px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .add:after {top:36px; right:15px; width:26px; height:26px; background-image: url('/img/common/ico_plus.png');}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amoubt_tit {float:left; padding:25px 45px; width:220px; line-height:1.6; font-size:15px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amoubt_tit.solo {padding:40px 45px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amount_count {float:left;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amount_count .select_box {width:170px; height:33px; line-height:33px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amount_count .select_box label {top:0;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amount_count input[type="text"] {padding:10px 13px; width:113px; height:33px; line-height:33px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li.half .amount_count input[type="text"] {margin-left:15px; width:70px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .chk_count {margin-top:10px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .chk_count > span {}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .chk_count .out_line {width:6px; height:7px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .chk_count .price {}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .total_price {float:right; padding:30px 0 20px 30px; width:220px; border-left:1px solid #dedede; font-size:20px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .total_price small {margin-bottom:10px; font-size:15px;}
#wrapCont .cont_box .info_list {margin-top:23px;}
#wrapCont .cont_box .info_list li {margin:5px 0; padding-left:15px; text-indent:-10px;}

#wrapCont .cont_box .choice_tit {margin-top:70px; font-size:24px;}
#wrapCont .cont_box .choice_box {margin:0 -15px; margin-top:75px;}
#wrapCont .cont_box .choice_box > div {float:left; padding:60px 0; height:258px; box-sizing:border-box;}
#wrapCont .cont_box .choice_box .col_3 {margin:0 15px; width:370px;}
#wrapCont .cont_box .choice_box .el {background-image:url('/img/common/bg_el_off.jpg');}
#wrapCont .cont_box .choice_box .el:hover {background-image:url('/img/common/bg_el_on.jpg');}
#wrapCont .cont_box .choice_box .cb {background-image:url('/img/common/bg_cb_off.jpg');}
#wrapCont .cont_box .choice_box .cb:hover {background-image:url('/img/common/bg_cb_on.jpg');}
#wrapCont .cont_box .choice_box .stay {background-image:url('/img/common/bg_stay_off.jpg');}
#wrapCont .cont_box .choice_box .stay:hover {background-image:url('/img/common/bg_stay_on.jpg');}
#wrapCont .cont_box .choice_box .choice_txt {font-size:17px;}
#wrapCont .cont_box .choice_box .choice_txt > strong {margin-top:15px; font-size:24px;}
#wrapCont .cont_box .choice_box .btn_box {margin-top:35px;}
#wrapCont .cont_box .choice_box .btn_box a {font-size:15px;}
#wrapCont .cont_box .choice_box .btn_box a > span {padding-right:38px; background:url('/img/common/choice_arrow.png') no-repeat center right;}

#wrapCont .cont_box #my_faq {margin-top:40px;}
#wrapCont .cont_box #my_faq dt {font-size:15px;}
#wrapCont .cont_box #my_faq dt.on {}
#wrapCont .cont_box #my_faq dt .q_mark {padding:0 50px 0 40px; font-size:17px;}
#wrapCont .cont_box #my_faq dd {padding:30px 100px;}

#wrapCont .cont_box .cal_box {padding:20px 20px 20px 30px; min-height:310px;}
#wrapCont .cont_box .cal_box.sec {min-height:auto;}
#wrapCont .cont_box .cal_box .cal_tit {font-size:17px;}
#wrapCont .cont_box .cal_box .cal_txt {margin-top:5px; font-size:14px;}
#wrapCont .cont_box .cal_box .resort_list {margin:55px 0;}
#wrapCont .cont_box .cal_box .resort_list li {margin:15px 0;}
#wrapCont .cont_box .cal_box .cal {position:absolute; top:20px; right:20px; width:568px; height:278px;}

#wrapCont .cont_box .exper_box {}
#wrapCont .cont_box .exper_choice {padding:40px 40px 15px;}
#wrapCont .cont_box .exper_choice .ex_tit {font-size:17px;}
#wrapCont .cont_box .exper_choice > ul {margin:0 -8px;}
#wrapCont .cont_box .exper_choice > ul li {margin:15px 8px; width:calc(20% - 16px);}
#wrapCont .cont_box .exper_choice .thumb {}
#wrapCont .cont_box .exper_choice .thumb .end_dim {background-image:url('/img/common/img_done.png');}

#wrapCont .cont_box .done {padding:50px;}
#wrapCont .cont_box .done > p {margin-top:25px; font-size:22px;}
#wrapCont .cont_box .done > p > span {}
#wrapCont .cont_box .done .done_list {margin:35px auto 0; width:740px; font-size:17px; text-align:left;}
#wrapCont .cont_box .done .done_list li {margin:5px 0;}
#wrapCont .cont_box .done .done_list a {color:#623595;}
#wrapCont .cont_box .done .done_list a > span {text-decoration:underline;}
#wrapCont .cont_box .done .btn_box {margin-top:25px;}
#wrapCont .cont_box .done .btn_box a {width:150px;}

#wrapCont .cont_box .done.customer {padding:0;}
#wrapCont .cont_box .done.customer .customer {overflow:hidden;}
#wrapCont .cont_box .done.customer .customer > li {float:left; padding:48px 0 48px 188px; width:calc(50% - 1px); box-sizing:border-box; text-align:left; background-image:url('/img/common/bg_total.jpg'); background-repeat:no-repeat; background-position:48px center;}
#wrapCont .cont_box .done.customer .customer > li:first-child {border-right:1px solid #dedede; background-image:url('/img/common/bg_callcenter.jpg');}
#wrapCont .cont_box .done.customer .customer dl {}
#wrapCont .cont_box .done.customer .customer dt {font-size:17px; font-weight:900;}
#wrapCont .cont_box .done.customer .customer dd {margin-top:24px; font-size:15px;}
#wrapCont .cont_box .done.customer .customer dd li {margin:5px 0;}
#wrapCont .cont_box .done.customer .customer dd .custom {font-weight:900;}
#wrapCont .cont_box .done.customer .customer dd .bar {display:inline-block; margin:0 14px; width:1px; height:13px; background:#c8c8c8;}

#wrapCont .cont_box .amount_box {}
#wrapCont .cont_box .amount_box > div {display:inline-block; padding:30px; width:33.1%; border-right:1px solid #dedede;}
#wrapCont .cont_box .amount_box.col_4 > div {width:calc(25% - 3px); vertical-align:top;}
#wrapCont .cont_box .amount_box > div:last-child {border-right:0;}
#wrapCont .cont_box .amount_box > div.ico:after {top:36px; left:-18px; width:26px; height:26px; background-image:url('/img/common/ico_plus.png');}
#wrapCont .cont_box .amount_box > div.ico.amount:after {background-image:url('/img/common/ico_amount.png');}
#wrapCont .cont_box .amount_box > div dl {font-size:15px;}
#wrapCont .cont_box .amount_box > div dt {padding:0 5px; width:30%; text-align:left;}
#wrapCont .cont_box .amount_box.col_4 > div dt {width:26%;}
#wrapCont .cont_box .amount_box > div dd {}
#wrapCont .cont_box .amount_box > div dd > em {font-size:22px;}
#wrapCont .cont_box .amount_box.col_4 .amount {padding:23px 0;}
#wrapCont .cont_box .amount_box.col_4 .amount dt {width:100%;}
#wrapCont .cont_box .amount_box .amount dd {display:block; margin-top:8px; width:100%;}
#wrapCont .cont_box .amount_box > div dd .sub {}
#wrapCont .cont_box .amount_box > div dd .total {font-size:32px;}

/* 달력 */
#wrapCont .cont_box.calendar {}
#wrapCont .cont_box.calendar .gLeft {width:49%;}
#wrapCont .cont_box.calendar .gRight {width:49%;}

/* 체험학습선택 */
.cont_box .exp_wrap {}
.cont_box .exp_wrap > li {}
.cont_box .exp_wrap .exp_top {padding:18px 0 18px 40px; font-size:17px; background-image:url('/img/common/prg_state.png'); background-position:98% 1px;}
.cont_box .exp_wrap .exp_top.on {background-position:98% 100%;}
.cont_box .exp_wrap .exp_top > span {}
.cont_box .exp_wrap .exp_list {}
.cont_box .exp_wrap .exp_list > ul {}
.cont_box .exp_wrap .exp_list > ul > li {position:relative;}
.cont_box .exp_wrap .exp_list .thumb {position:absolute; top:30px; left:40px; width:229px; height:153px; overflow:hidden;}
.cont_box .exp_wrap .exp_list .thumb img {position:absolute; left:-100%; right:-100%; top:-100%; bottom:-100%; margin:auto; height:153px; min-width:100%; min-height:100%;}
.cont_box .exp_wrap .exp_list .program_info {padding:30px 0 30px 300px;}
.cont_box .exp_wrap .exp_list .program_info .tit {font-size:17px;}
.cont_box .exp_wrap .exp_list .program_info .txt {margin-top:12px; font-size:14px;}
.cont_box .exp_wrap .exp_list .program_info > ul {margin-top:20px;}
.cont_box .exp_wrap .exp_list .program_info .bullet {margin:10px 0; padding-left:13px; }
.cont_box .exp_wrap .exp_list .price {}
.cont_box .exp_wrap .exp_list .price > span {float:left; padding:15px 0; height:55px; line-height:25px; font-size:15px;}
.cont_box .exp_wrap .exp_list .price .amount_count {padding-left:40px; padding-right:15px;}
.cont_box .exp_wrap .exp_list .price .amount_count > input {width:69px;}
.cont_box .exp_wrap .exp_list .price .amount_count em {margin-right:10px;}
.cont_box .exp_wrap .exp_list .price .amount_price {padding-left:15px;}
.cont_box .exp_wrap .exp_list .price .total_price {float:right; padding:10px 29px; line-height:1.2; font-size:20px; border-left:1px solid #dedede;}
.cont_box .exp_wrap .exp_list .price .total_price > small {display:block; font-size:15px;}


#wrapCont .agree_box {position:relative; margin-top:70px;}
#wrapCont .agree_wrap {padding:0 40px 48px;}
#wrapCont .agree_top {padding:20px 40px;}
#wrapCont .agree_top .tit {padding-top:7px; font-size:17px;}
#wrapCont .agree_tit {margin-top:48px; font-size:17px;}
#wrapCont .agree_scroll {margin-top:25px; padding:15px 40px; height:285px;}
#wrapCont .agree_scroll.short {height:auto;}
#wrapCont .agree_box .agchk {position:absolute; top:119px; right:40px;}
#wrapCont .agree_box .agchk label {margin-left:15px;}
#wrapCont .agree_box .agchk.sec {top:496px;}
#wrapCont .btn_box {margin-top:50px;}
#wrapCont .btn_box.left {margin-top:20px; text-align:left;}

.agree_box .provtit {margin-top:30px;}
.agree_box .policy_txtinfo {margin-top:7px; line-height:18px;}
.agree_box .policy_txtinfo .pd1 {padding-left:15px; line-height:18px;}
.agree_box .box01 {margin-top:10px;}
.agree_box .provbox dl {padding:4px 15px 16px;}
.agree_box .provbox table {margin:5px 0 10px 0; }
.agree_box .provbox table th {padding:9px 0 6px 0; }
.agree_box .provbox table td {padding:9px 5px 6px 10px; }
.agree_box .provbox table td.stit {padding:9px 0 6px 0; }
.agree_box .provbox2 { padding:10px 0 0 12px;}

/* why에버랜드 */
#wrapCont .about_top {margin-top:80px; background:url('/img/about/bg_about_top.png') no-repeat right top;}
#wrapCont .about_top .banner_tit {line-height:1.23; font-size:52px;}
#wrapCont .about_top .banner_tit > em {display:block;}
#wrapCont .about_top .banner_tit br {display:none;}
#wrapCont .about_top .banner_txt {margin-top:40px;padding-left:50px; line-height:1.64; font-size:18px;}
#wrapCont .about_top .banner_txt em {display:block;}
#wrapCont .about_slide {margin-top:70px; max-width:1387px;}
#wrapCont .about_slide {}
#wrapCont .about_slide .slide_info {bottom:-90px; left:50%; margin-left:-584px; width:188px; height:188px; line-height:188px; font-size:24px;}
#wrapCont .about_slide .bx-wrapper .bx-pager {position:absolute;margin-left:44%;width:100%;bottom:-30px;text-align: center;}
#wrapCont .about_slide .bx-wrapper .bx-pager.bx-default-pager a {
  background:url('/img/common/pager1.png') no-repeat bottom center; text-indent:-9999px; display:block; width:18px; height:18px; margin:0 5px; outline:0;}
#wrapCont .about_slide .bx-wrapper .bx-pager.bx-default-pager a:hover,
#wrapCont .about_slide .bx-wrapper .bx-pager.bx-default-pager a.active,
#wrapCont .about_slide .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background:url('/img/common/pager1.png') no-repeat top center;
}
#wrapCont .bx-wrapper .bx-controls-auto {position:absolute; left:50%; bottom:-30px; margin-left:48%; text-align:center;}
#wrapCont .b_mid {background:url('/img/about/bg_about_mid.png') no-repeat left 2160px;}
#wrapCont .about_info {padding:86px 0 0 267px; font-size:18px;}
#wrapCont .cont_box .about_list {margin-top:116px; height:2310px;}
#wrapCont .cont_box .about_list > h3 {margin-top:115px;}
#wrapCont .cont_box .about_list > ul {}
#wrapCont .cont_box .about_list > ul li {position:absolute; top:218px; left:55px; padding-left:25px;}
#wrapCont .cont_box .about_list > ul li:first-child + li {top:119px; left:583px;}
#wrapCont .cont_box .about_list > ul li:first-child + li + li {top:1065px; left:110px;}
#wrapCont .cont_box .about_list > ul li:first-child + li + li + li {top:771px; left:683px;}
#wrapCont .cont_box .about_list > ul li:first-child + li + li + li + li {top:1662px; left:110px;}
#wrapCont .cont_box .about_list > ul li .about_no {top:0; left:0; font-size:15px;}
#wrapCont .cont_box .about_list > ul li .about_no:before {top:-80px; left:9px; width:1px; height:75px;}
#wrapCont .cont_box .about_list > ul li .list_tit {margin:30px 0 24px; font-size:24px;}
#wrapCont .cont_box .about_list > ul li .list_txt {padding-left:50px; font-size:18px;}
#wrapCont .cont_box .about_list > ul li .list_txt em {display:block;}





#wrapCont .list_box {}
#wrapCont .list_box.col {}
#wrapCont .list_box.col > div {margin-left:-1px; padding:39px 29px; width:calc(25% - 1px); height:330px; font-size:16px;}
#wrapCont .list_box.col > div b {margin-bottom:12px; font-size:17px;}
#wrapCont .list_box.col > div > div {right:39px; bottom:39px;}
#wrapCont .list_box.col > div > div > span {font-size:54px;}
#wrapCont .list_box.col .first {font-size:20px; color:#fff; background:#ff971c;}
#wrapCont .list_box.col .first:after {left:100%; top:50%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events: none; border-color:rgba(255, 151, 28, 0); border-left-color:#ff971c; border-width:10px; margin-top:-10px;}
#wrapCont .safe_box {margin:38px -15px 0; overflow:hidden;}
#wrapCont .safe_box.solo {margin:38px 0 0;}
#wrapCont .safe_box.solo .col_2  {margin:0; width:calc(100% - 6px); height:auto;}
#wrapCont .safe_box.solo .col_2  .half_list {position:relative;}
#wrapCont .safe_box.solo .col_2  .half_list:after {position:absolute; top:8px; left:514px; display:block; content:''; width:1px; height:250px; background:#dedede;}
#wrapCont .safe_box.solo .col_2  .half_list li {float:left; margin:5px 0; width:50%; font-size:15px;}
#wrapCont .safe_box.solo .col_2  .half_list li .thumb {float:left; margin-right:30px;}
#wrapCont .safe_box.solo .col_2  .half_list li .thumb img {width:75px; height:75px;}
#wrapCont .safe_box.solo .col_2  .half_list li > p > span {display:block; margin-bottom:10px;  font-weight:900;}
#wrapCont .safe_box.why .col_2 {height:1140px;}
#wrapCont .safe_box .left .year_list:after {height:880px;}
#wrapCont .safe_box .right .year_list:after {height:950px}
#wrapCont .safe_box .col_2 {margin:0 15px; float:left; width:calc(50% - 34px); height:750px;}
#wrapCont .safe_box .col_2 .box {padding:37px;}
#wrapCont .safe_box .col_2 .box .tit {margin-bottom:25px; font-size:17px;}
#wrapCont .safe_box .col_2 .box .tit:after {margin-top:20px; width:28px; height:1px; font-size:16px;}
#wrapCont .safe_box .year_list {position:relative;}
#wrapCont .safe_box .year_list li {margin:37px 0; line-height:1.6; font-size:15px;}
#wrapCont .safe_box .year_list:after {position:absolute; top:4px; left:5px; display:block; content:''; width:1px; height:600px; background:url('/img/common/year_bar.gif') repeat-y left center; z-index:1;}
#wrapCont .safe_box .year_list strong {padding-left:24px; width:65px; background-image:url('/img/common/bullet_year.gif');}
#wrapCont .safe_box .year_list span {padding-left:13px; width:400px;}
#wrapCont .safe_box .year_list span:after {top:2px; width:1px; height:12px;}
#wrapCont .safe_box .safe_list {}
#wrapCont .safe_box .safe_list li {margin:30px 0; padding-left:105px; min-height:75px; font-size:16px;}
#wrapCont .safe_box .safe_list li .thumb {top:0; left:0; width:75px; height:75px;}
#wrapCont .safe_box .safe_list li > p {line-height:1.6;}
#wrapCont .safe_box .safe_list li > p > span {font-size:15px;;}

/* 체험학습 프로그램 */
#wrapCont .what_exp {padding-bottom:65px;}
#wrapCont .what_exp .gLeft {width:660px;}
#wrapCont .what_exp .gRight {}
#wrapCont .tab_box {margin-top:74px;}
#wrapCont .tab_box .menu {}
#wrapCont .tab_box .menu li {}
#wrapCont .tab_box .menu li a {font-size:17px; height:48px; line-height:48px;}
#wrapCont .tab_cont {}

#wrapCont .exper_navi {}
#wrapCont .exper_navi.fix {width:1170px;}
#wrapCont .exper_navi ul {margin-top:70px;}
#wrapCont .exper_navi.fix ul {margin-top:0; border:1px solid #dedede; border-right:0 none;} 
#wrapCont .exper_navi li {width:25%;}
#wrapCont .exper_navi.fix li {width:calc(25% - 1px); height:58px; line-height:58px; border-right:1px solid #dedede;}
#wrapCont .exper_navi li .thumb {margin:0 auto 15px; width:94px; height:94px; border:1px solid #dedede; border-radius:50%;}
#wrapCont .exper_navi.fix li .thumb {display:inline-block; width:25px; height:25px; border:0 none;}
#wrapCont .exper_navi li .thumb > span {display:inline-block; margin-top:23px; width:50px; height:50px;}
#wrapCont .exper_navi.fix li .thumb > span {display:inline-block; margin-top:13px; width:25px; height:25px; background-size:100px 25px;}
#wrapCont .exper_navi.day.fix li .thumb > span {background-size:75px 50px;}
#wrapCont .exper_navi li .job {background-position:0 0;}
#wrapCont .exper_navi li .safe {background-position:-50px 0;}
#wrapCont .exper_navi li .emotion {background-position:-100px 0;}
#wrapCont .exper_navi li .history {background-position:-150px 0;}
#wrapCont .exper_navi.fix li .job {background-position:0 0;}
#wrapCont .exper_navi.fix li .safe {background-position:-25px 0;}
#wrapCont .exper_navi.fix li .emotion {background-position:-50px 0;}
#wrapCont .exper_navi.fix li .history {background-position:-75px 0;}

#wrapCont .program_list {margin:100px -15px 0;}
#wrapCont .program_list > li {margin:30px 15px; width:calc(25% - 30px); height:460px;}
#wrapCont .program_list .first {padding:40px; text-align:left; letter-spacing:-.07em;}
#wrapCont .program_list #job_exper .first {}
#wrapCont .program_list #safe_exper .first {}
#wrapCont .program_list #emotion_exper .first {}
#wrapCont  #history_exper {padding-bottom:250px;}
#wrapCont .program_list .first .box_tit {font-size:22px;}
#wrapCont .program_list .first .box_tit:after {margin-top:20px; width:28px; height:1px;}
#wrapCont .program_list .first .box_txt {bottom:40px; width:170px; font-size:17px;}
#wrapCont .program_list li .thumb {}
#wrapCont .program_list li .ex_tit {margin:20px 0; font-size:20px;}
#wrapCont .program_list li .ex_txt {line-height:1.6; font-size:16px;}
#wrapCont .program_list li .ex_info {margin-top:25px;}
#wrapCont .program_list li .ex_info > span {margin-right:6px; width:12px; height:12px;}
#wrapCont .program_list li .ex_info .time {background-position:-154px -60px;}
#wrapCont .program_list li .ex_info .people {margin-left:8px; background-position:-167px -60px;}
#wrapCont .program_list li .tag {margin-top:10px;}
#wrapCont .program_list li .tag > span {padding:4px;}
#wrapCont .program_list li .dl_button {bottom:0; width:100%; text-align:center;}
#wrapCont .program_list li .dl_button a {padding-bottom:6px; font-size:14px;}
#wrapCont .program_list li .dl_button a > span {padding-right:90px;}
#wrapCont #job_exper .dl_button a > span {background-image:url('/img/common/dl_arrow.png');}
#wrapCont #safe_exper .dl_button a > span {background-image:url('/img/common/dl_arrow01.png')}
#wrapCont #emotion_exper .dl_button a > span {background-image:url('/img/common/dl_arrow02.png')} 
#wrapCont #history_exper .dl_button a > span {background-image:url('/img/common/dl_arrow03.png')}
#wrapCont #job_exper .dl_button.on a > span {background-image:url('/img/common/dl_arrow_on.png');}
#wrapCont #safe_exper .dl_button.on a > span {background-image:url('/img/common/dl_arrow01_on.png')}
#wrapCont #emotion_exper .dl_button.on a > span {background-image:url('/img/common/dl_arrow02_on.png')} 
#wrapCont #history_exper .dl_button.on a > span {background-image:url('/img/common/dl_arrow03_on.png')}
#wrapCont .program_list li .total_btn {position:absolute; bottom:-413px; width:360px; height:414px;}
#wrapCont .program_list li .total_btn dl { font-size:13px;}
#wrapCont .program_list li .total_btn dt {padding:11px 0;}
#wrapCont .program_list li .total_btn dd {}
#wrapCont .program_list li .total_btn dd a {padding:11px 0;}
#wrapCont .program_list li .total_btn dd ul {padding:11px 0;}
#wrapCont .program_list li .total_btn dd li {}
#wrapCont .program_list li .total_btn .workbook {padding:11px 0;}
#wrapCont .program_list li .total_btn .workbook a {}
#wrapCont .program_list li .total_btn .close_work {display:none;}

/* 숙박형 체험안내 */
#wrapCont .stay_box {}
#wrapCont .exper_navi.day li {width:12%;}
#wrapCont .exper_navi.day li .one_day {background-position:0 0;}
#wrapCont .exper_navi.day li.off .one_day {background-position:0 -50px;}
#wrapCont .exper_navi.day li .two_day {background-position:-50px 0;}
#wrapCont .exper_navi.day li.off .two_day {background-position:-50px -50px;}
#wrapCont .exper_navi.day li .three_day {background-position:-100px 0;}
#wrapCont .exper_navi.day li.off .three_day {background-position:-100px -50px;}
#wrapCont .exper_navi.day.fix li .one_day {background-position:0 0;}
#wrapCont .exper_navi.day.fix li .two_day {background-position:-25px 0;}
#wrapCont .exper_navi.day.fix li .three_day {background-position:-50px 0;}
#wrapCont .exper_navi.day.fix li.off .one_day {background-position:0 -25px;}
#wrapCont .exper_navi.day.fix li.off .two_day {background-position:-25px -25px;}
#wrapCont .exper_navi.day.fix li.off .three_day {background-position:-50px -25px;}
#wrapCont .stay_list {margin:30px 0; border:1px solid #dedede;}
#wrapCont .stay_list > dl {}
#wrapCont .stay_list > dl dt {top:0; left:0; padding:30px 0; width:130px; font-size:15px;}
#wrapCont .two .stay_list > dl dt {height:130px; line-height:130px;}
#wrapCont .three .stay_list > dl dt {height:215px; line-height:215px;}
#wrapCont .four .stay_list > dl dt {height:300px; line-height:300px;}
#wrapCont .stay_list > dl dt > strong {font-size:17px;}
#wrapCont .stay_list > dl dd {padding:30px 30px 30px 170px; font-size:16px;}
#wrapCont .stay_list > dl dd li {padding-left:58px; background-image:url('/img/common/bg_days.png');}
#wrapCont .stay_list > dl dd li:after {display:block; margin-left:-40px; content:''; padding-top:40px; background:url('/img/common/stay_list.png') no-repeat left center;}
#wrapCont .stay_list > dl dd li:last-child:after {display:none;}
#wrapCont .stay_list > dl dd li > strong {font-size:17px;}
#wrapCont .stay_list > dl dd li > span {padding-right:26px; background:url('/img/common/day_arrow.png') no-repeat 98% 4px;}
#wrapCont .stay_list > dl dd li > span:last-child {padding:0; background:none;}

/* 이용안내 */
#wrapCont .tab_box.month {margin-top:25px;}
#wrapCont .tab_box.month .menu li {width:calc(8.3333% - 1px);}
#wrapCont .cont_box .part {margin-bottom:40px; font-size:16px;}
#wrapCont .inner_box {margin-bottom:70px; padding:40px;}
#wrapCont .inner_box.program {margin-top:20px;}
#wrapCont .inner_wrap.stay {height:220px;}
#wrapCont .inner_wrap .inner_tit {font-size:17px;}
#wrapCont .inner_wrap ul {margin:20px 0 40px;}
#wrapCont .inner_wrap ul li {margin:7px 0; font-size:16px;}
#wrapCont .inner_wrap ul li.right li {font-size:16px;} 
#wrapCont .inner_wrap .step {margin:0 -20px; background:url('/img/common/guide_arrow.png') no-repeat 364px 85px;}
#wrapCont .inner_wrap .step > li {position:relative; margin:20px; width:calc(33.333% - 40px);}
#wrapCont .inner_wrap .step.col_2 > li {width:calc(25% - 40px);} 
#wrapCont .inner_wrap .step > li.mobile {display:none;}
#wrapCont .inner_wrap .step .step_txt {font-size:17px;}
#wrapCont .inner_wrap .step .step_txt > span {margin-right:12px; width:33px; height:33px; line-height:34px; font-size:15px;}
#wrapCont .inner_wrap .thumb {position:absolute; top:0; right:0;}

#wrapCont .recom_wrap {}
#wrapCont .recom_wrap .recommend {}
#wrapCont .recom_wrap .recommend > li {margin:0 20px; width:calc(19% - 32px);}
#wrapCont .recom_wrap .recommend .icon_box {position:relative; margin:0 auto; width:130px; height:130px;}
#wrapCont .recom_wrap .recommend .icon_box .btn_ico {display:inline-block; margin-top:36px;}
#wrapCont .recom_wrap .recommend .icon_box .state {top:0; left:0; width:35px; height:35px; line-height:35px; font-size:12px;}
#wrapCont .recom_wrap .recommend .tit {margin-top:28px; font-size:15px;}
#wrapCont .recom_wrap .recommend .tit:after {margin:14px auto 0; width:15px; height:1px;}
#wrapCont .recom_wrap .recommend .txt {margin-top:14px;}

#wrapCont .guide_box {padding:38px 50px; background-image:url('/img/common/bg_guide.jpg'); background-position:right bottom;}
#wrapCont .guide_box.cb {background-image:url('/img/common/bg_guide_cb.jpg'); background-position:right bottom;}
#wrapCont .guide_box > h3 {padding-top:61px; font-size:35px;}
#wrapCont .guide_box.cb > h3 {padding-top:51px;}
#wrapCont .guide_box > p {font-size:15px;}
#wrapCont .guide_box .btn_box {margin-top:20px;}
#wrapCont .guide_box .btn_box a {padding:10px 28px;}

#wrapCont .inner_wrap .step .step_info {margin-top:15px; line-height:1.6; font-size:16px;}
#wrapCont .inner_wrap .step.none {background:none;}
#wrapCont .inner_wrap .step.none > li {min-height:365px;}
#wrapCont .inner_wrap .step > li.right:after {display:block; content:''; position:absolute; top:70px; right:-33px; width:24px; height:9px; background:url('/img/common/bg_right.gif') no-repeat;}
#wrapCont .inner_wrap .step > li.left:after {display:block; content:''; position:absolute; top:70px; left:-33px; width:24px; height:9px; background:url('/img/common/bg_left.gif') no-repeat;}
#wrapCont .inner_wrap .step > li.down:after {display:block; content:''; position:absolute; bottom:-20px; right:150px; width:9px; height:24px; background:url('/img/common/bg_down.gif') no-repeat;}
#wrapCont .combine_box {margin:38px -15px 0; overflow:hidden;}
#wrapCont .combine_box .col_2 {margin:0 15px; float:left; width:calc(50% - 34px);}
#wrapCont .combine_box .col_2 .box {padding:37px; min-height:288px;}
#wrapCont .combine_box .col_2 .box.traffic {min-height:205px;}
#wrapCont .combine_box .col_2 .box .tit {margin-bottom:25px; font-size:17px;}
#wrapCont .combine_box .year_list {position:relative;}
#wrapCont .combine_box .year_list li {margin:37px 0; line-height:1.4; font-size:16px;}
#wrapCont .combine_box .year_list:after {position:absolute; top:4px; left:5px; display:block; content:''; width:1px; height:120px; background:url('/img/common/year_bar.gif') repeat-y left center; z-index:1;}
#wrapCont .combine_box .year_list strong {padding-left:24px; width:65px; background-image:url('/img/common/bullet_year.gif');}
#wrapCont .combine_box .year_list span {padding-left:13px; width:400px;}
#wrapCont .combine_box .year_list span:after {top:2px; width:1px; height:12px;}
#wrapCont .combine_box .year_list li ul {margin-top:8px;}
#wrapCont .combine_box .year_list li li {margin:0; color:#666; letter-spacing:-1px;}
#wrapCont .combine_box .safe_list {}
#wrapCont .combine_box .safe_list li {margin:30px 0; padding-left:105px; min-height:75px;}
#wrapCont .combine_box .safe_list li .thumb {top:0; left:0; width:75px; height:75px;}
#wrapCont .combine_box .safe_list li > p {line-height:1.6;}
#wrapCont .combine_box .safe_list li > p > span {font-size:15px;}
#wrapCont .combine_box .order_list {}
#wrapCont .combine_box .order_list li {margin-top:18px; padding-left:28px; background-image: url('/img/common/bullet_year.gif'); background-position:0 3px;}
#wrapCont .combine_box .order_list li:first-child {margin-top:0;}
#wrapCont .combine_box .order_list li:after {bottom:15px; left:5px; width:1px; height:24px; background: url('/img/common/year_bar.gif') repeat-y left center;}
#wrapCont .combine_box .order_list li.first:after {display:none;}

#wrapCont .combine_box.reserve {margin:38px 0 0; padding:40px 40px 15px;}
#wrapCont .combine_box.reserve .tit {margin-bottom:25px; font-size:17px;}
#wrapCont .combine_box.reserve .order_list strong {padding-left:24px; width:65px;}
#wrapCont .combine_box.reserve .year_list:after {height:140px;}
#wrapCont .combine_box.reserve .year_list.reserve:after {height:190px;}

#wrapCont .info_txt {margin-top:20px; font-size:16px;}
#wrapCont .info_txt a {margin-left:23px; padding-right:15px;}

#wrapCont .sub_bar {padding:20px 0 30px;}
#wrapCont .thumb_list {}
#wrapCont .thumb_list .list_tit {margin-top:30px; font-size:17px;}
#wrapCont .thumb_list > ul {overflow:hidden; margin:20px -10px 0;}
#wrapCont .thumb_list > ul > li {float:left; margin:0 10px 30px; width:calc(25% - 20px);}
#wrapCont .thumb_list > ul .thumb {width:276px; height:142px;}
#wrapCont .thumb_list > ul .thumb img {}
#wrapCont .thumb_list > ul .conts {padding:0 24px;}
#wrapCont .thumb_list > ul .conts .tit {margin-top:26px; font-size:17px;}
#wrapCont .thumb_list > ul .conts .tit small {font-size:14px;}
#wrapCont .thumb_list > ul .conts .txt {margin-top:15px; height:133px; font-size:14px;}
#wrapCont .thumb_list > ul .conts > ul {padding-top:10px; min-height:100px;}
#wrapCont .thumb_list > ul .conts > .auto {height:auto; min-height:35px;}
#wrapCont .thumb_list > ul .conts .bullet {margin:10px 0; padding-left:13px;}

#wrapCont .food {margin:35px -15px 0;}
#wrapCont .food .food_box {margin:0 15px; width:calc(33% - 28px); border:1px solid #dedede;}
#wrapCont .food .food_box > h3 {padding:13px 0; font-size:17px;}
#wrapCont .food .food_box .food_wrap {padding:30px;}
#wrapCont .food .food_box .food_tit {margin:20px 0 11px; font-size:17px;}
#wrapCont .food .food_box .food_txt {font-size:15px; min-height:115px;}
#wrapCont .food .food_box .food_wrap dl {}
#wrapCont .food .food_box .food_wrap dt {padding-right:10px;}
#wrapCont .food .food_box .food_wrap dt:after {top:4px; right:0; height:8px;}
#wrapCont .food .food_box .food_wrap dd {padding-left:10px;}
#wrapCont .food .food_box .food_bottom {padding:30px; height:77px;}
#wrapCont .food .food_box .food_bottom li {font-size:14px;}
#wrapCont .food .food_box p {letter-spacing:-1px;}
#wrapCont .inner_box .rest_list {padding:0 30px; width:calc(33.333% - 3px); }
#wrapCont .inner_box .rest_list:first-child {padding-left:0;}
#wrapCont .inner_box .rest_list li {margin-top:25px; height:83px;}
#wrapCont .inner_box .rest_list li:first-child {margin-top:0;}
#wrapCont .inner_box .rest_list li .thumb {top:0; left:0;}
#wrapCont .inner_box .rest_list li .txt_info {font-size:15px;}
#wrapCont .inner_box .rest_list li .txt_info b {margin-bottom:10px; font-size:17px;}

.double_tab {height:50px;}
.double_tab .col_2 {height:50px; line-height:50px;}
.double_tab .col_2 a {font-size:17px;}
.double_tab .col_3 {height:50px; line-height:50px;}
.double_tab .col_3 a {font-size:17px;}

.main #wrapFooter {margin-top:0;}
#wrapFooter {margin-top:55px;}
#wrapFooter .copyright {height:55px; line-height:55px; font-size:14px;}

.ui-datepicker th  {padding:.8em;}
.ui-datepicker td a {margin:0 .9rem;}

/* 셀렉트 박스 */
.select_box {margin-right:5px; width:180px; height:35px; background-size:35px 34px;}
.select_box label {font-size:14px; top:6px; left:9px;}
.select_box select {width:100%; height:32px; min-height:32px; line-height: 32px; padding:0 50px 0 10px;}

/* bullet style */
.bullet_list {margin:5px 0; padding-left:14px; font-size:16px;}
.bullet_list:after {top:7px; left:0; width:3px; height:3px;}
.bullet_list.solo {margin-bottom:35px;}
.bullet_list li {padding-left:12px; text-indent:-17px;}

/* table */
.mBoard {}

.mBoard {}
.mBoard.resort {margin-top:40px;}
.mBoard.resort th {padding:10px; font-size:15px;}
.mBoard table {}
.mBoard th {padding:15px 0; font-size:17px;}
.mBoard th .head {width:20%; font-size:15px;}
.mBoard th .head.left {}
.mBoard th .head.tit {width:59%; font-size:20px; font-weight:bold; color:#222;}
.mBoard th .head.right {}
.mBoard th.ever {background:#fffaf3;}
.mBoard th.cabi {background:#f2fbff;}
.mBoard td {padding:15px 15px;}
.mBoard td input {padding:10px; width:80%; height:32px;}
.mBoard td input.name {width:209px; height:35px;}
.mBoard td .location  {font-size:15px;}
.mBoard td .ip_num {margin-left:20px; width:60px; height:34px;}
.mBoard td .half li {float:left; width:50%;}
.mBoard td .bullet {padding-left:12px; width:100px; font-size:17px; font-weight:600; background-position:left 7px;}
.mBoard td .gLong {width:219px;}
.mBoard td .gShort {width:35%;}
.mBoard td .txt_sel_info {display:inline-block; margin-left:20px; font-size:14px;}
.mBoard .agree_text {margin-right:75px; padding-left:30px;}
.mBoard .last {border-right:0 none;}
.mBoard .table_sub {margin-top:20px; font-size:14px;}
.mBoard .table_sub a {}
.mBoard .select_box {width:209px; }
.mBoard .select_box.shot {width:100px; }
.mBoard tfoot strong {margin:0 40px; font-size:22px;}
.mBoard .warn {font-size:16px;}
#wrapCont .mBoard .btn_box {margin-top:20px; text-align:left;}

/* autocomplete */
.ui-autocomplete {width:310px;}
.ui-autocomplete li {padding:8px; font-size:16px;}
.ui-autocomplete li:hover {}
#ui-id-1 {width:250px;}

/* tab_menu */
.tab_menu {margin-top:40px;}
.tab_menu ul {border-top:0 none;}
.tab_menu li {float:left; text-align:center;}
.tab_menu li a {font-size:17px;}
.tab_menu li a:first-child {}
.tab_menu li.on a {}

/* common --------------------------------------------------------------------------------------------------------------------------------------------*/
.scroll_navi {top:50%; right:30px; margin:-162px 0 0 0; z-index:11;}
.scroll_navi ul {}
.scroll_navi ul li {margin-bottom:30px;}
.scroll_navi ul li a {}
.scroll_navi ul li .navi_ico {margin-bottom:10px; width:70px; height:66px;}
.scroll_navi ul li.nav_02 .navi_ico {background-position:0 -70px;}
.scroll_navi ul li.nav_03 .navi_ico {background-position:0 -140px;}
.scroll_navi ul li .tooltip {top:0; left:-125px; width:142px; height:45px; line-height:40px;}
.scroll_navi ul li.nav_02 .tooltip {background-position:0 -45px;}
.scroll_navi ul li.nav_03 .tooltip {background-position:0 -90px;}
.scroll_navi ul li:hover .tooltip {display:block;}

/* 팝업 */
.popup {top:50%; left:50%; padding:85px 60px 40px;}
.popup .pop_tit {font-size:35px;}
.popup .gUtil {margin:30px auto; padding:20px; width:560px;}
.popup .gUtil dl {padding:0 25px; font-size:22px;}
.popup .gUtil dt {padding-left:15px;}
.popup .gUtil dt:after {top:5px; left:0; width:4px; height:4px; border-radius:50%;}
.popup .gUtil dd {}
.exper_pop.popup {width:1170px;}
.popup .pop_wrap {}
.popup .pop_wrap h3 {margin-bottom:30px; font-size:22px;}
.popup .pop_wrap .gUtil {}
.popup .pop_wrap .mBoard {margin-bottom:75px;}
.popup .gScroll {overflow-y:auto; height:550px;}
.popup .btn_close {top:20px; right:20px; width:23px; height:24px;}
.popup .btn_close a {background-image:url('/img/common/pop_close.png');}

/*로딩박스*/
.loading_box {left:50%; margin-left:-245px; padding:50px; width:490px;}
.loading_box > p {margin-top:25px; font-size:20px;}

/* button */
.btn_box {}
.btn_box > a {padding:10px 25px;}
.btn_box .down {margin-left:0;}
.btn_box .view > span {padding-right:20px; font-size:15px; background-position:center right;}

.btn_box .before span {padding-left:50px; font-size:15px; background-position:center left;}
.btn_box .next span {padding-right:50px; font-size:15px; background-position:center right;}
.btn_box .next span.file {padding-right:25px; background-image:url('/img/common/bg_down.png');}
.btn_box .normal span {padding-right:20px; font-size:15px; background-position:center right;}
.btn_box .cancel {font-size:15px;}

/* 이미지형 아이콘 */
a.btn_ico, button.btn_ico, span.btn_ico {background-image:url('/img/common/sp_icon.png'); background-repeat:no-repeat;}
.btn_ico.exper {width:60px; height:59px; background-position:0 0;}
.btn_ico.program {width:52px; height:59px; background-position:-67px 0;}
.btn_ico.reserve {width:67px; height:60px; background-position:-50px 1px;}
.btn_ico.info {width:60px; height:59px; background-position:-200px 0;}
.btn_ico.more {width:23px; height:23px; background-position:0 -59px;}
.btn_ico.m_count {margin-right:7px; width:8px; height:12px; background-position:-23px -59px;}
.btn_ico.noti {margin-top:-2px; margin-right:2px; width:15px; height:15px; background-position:-34px -61px;}
.btn_ico.tuv {margin-top:7px; width:91px; height:40px; background-position:-379px -0px;}
.btn_ico.down {margin-left:10px; width:13px; height:10px; background-position:-69px -60px;}
.btn_ico.work {margin-left:10px; width:15px; height:14px; background-position:-83px -60px;}
.btn_ico.file {margin-left:10px; width:13px; height:10px; background-position:-69px -60px;}
.btn_ico.pro01 {display:block; margin:0 auto 15px; width:49px; height:62px;background-position:-364px 0;}
.btn_ico.pro02 {display:block; margin:0 auto 15px; width:46px; height:62px;background-position:-248px 0;}
.btn_ico.pro03 {display:block; margin:0 auto 15px; width:68px; height:62px; background-position:-295px 0;}
.btn_ico.pro04 {display:block; margin:0 auto 15px; width:46px; height:62px;background-position:-414px 0;}
.btn_ico.pro05 {display:block; margin:0 auto 15px; width:64px; height:62px;background-position:-184px 0;}
.btn_ico.pro06 {display:block; margin:0 auto 15px; width:50px; height:62px;background-position:-186px -62px;}
.btn_ico.pro07 {display:block; margin:0 auto 15px; width:50px; height:62px;background-position:-240px -62px;}
