body, form, input, select, textarea, button {font-size:0.8em; line-height:1em; -webkit-text-size-adjust: none;}

html, body {overflow-x:hidden;}

/* layout -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* Top */
#wrapTop {position:fixed; top:0; height:58px; border-bottom:1px solid #7c47b8; background:#fff; z-index:11;}
#wrapTop h1 {top:16px; left:50%; margin-left:-64px; width:128px; height:23px;}
#wrapTop h1 a {background-image:url('/img/common/m_logo.png'); background-repeat:no-repeat; background-size:128px 23px;}
#wrapTop .resort {display:none;}
#wrapTop .resort a {display:block; width:100%; height:100%;}
#wrapTop .menuBox {display:none;}
#wrapTop .btnMenu {position:absolute; top:0; left:0; width:57px; height:58px; text-indent:-999em; background-size:21px 16px; background-position:center;}
#wrapTop #totalMenu {top:0; left:0; height:100%; z-index:51;}
#wrapTop #totalMenu .logo {height:58px;}
#wrapTop #totalMenu .logo a {width:100%; height:58px; text-indent:-999em; background-size:129px 23px; background-position:84% 12px;}
#wrapTop #totalMenu .btnClose {top:0; left:0; width:57px; height:58px; background-image:url('/img/common/btn_mClose.png'); background-size:17px 16px; background-position:center;}
#wrapTop #totalMenu .menu {}
#wrapTop #totalMenu .menu li {height:55px;}
#wrapTop #totalMenu .menu li a {padding:20px 15px;}
#wrapTop #totalMenu .menu .depth1 {display:none;}

#wrapTop #totalMenu .mobile_logo {position:absolute; bottom:2%;}
#wrapTop #totalMenu .mobile_logo img {width:100%;}

#wrapTop #totalMenu .scroll_navi {display:block; position:absolute; top:70px; right:-33%;}
#wrapTop #totalMenu .scroll_navi ul {}
#wrapTop #totalMenu .scroll_navi ul > li {margin-bottom:26px;}
#wrapTop #totalMenu .scroll_navi ul > li a {color:#fff;}
#wrapTop #totalMenu .scroll_navi ul > li .navi_ico {display:block; margin-bottom:10px; width:48px; height:48px; background-image:url('/img/common/bg_m_navi.png'); background-repeat:no-repeat; background-size:48px 144px;}
#wrapTop #totalMenu .scroll_navi ul > li.nav_01 .navi_ico  {background-position:0 0;}
#wrapTop #totalMenu .scroll_navi ul > li.nav_02 .navi_ico  {background-position:0 -48px;}
#wrapTop #totalMenu .scroll_navi ul > li.nav_03 .navi_ico  {background-position:0 -96px;}

/* body */
#wrapCont {margin-top:59px;}
#wrapCont .contents {margin-top:100px;}
#wrapCont.sub {padding:0 18px; background:#fff;}
#wrapCont.sheet {margin:0; padding:0;}
#wrapCont .sec_tit {margin-bottom:20px; line-height:1; text-align:center; font-size:1.3rem;}
#wrapCont .sec_txt {line-height:1.6;}
#wrapCont .main_util {}
#wrapCont .main_util .top_menu {margin:10px 0;}
#wrapCont .main_util .top_menu .col_2 {margin-top:10px; background:#fff;}
#wrapCont .main_util .top_menu .col_2 li {padding:15px 0; width:50%; text-align:center;}
#wrapCont .main_util .top_menu .col_2 li p {margin-top:12px; line-height:1.2;}
#wrapCont .main_util .top_menu .col_2 li p > span {}
#wrapCont .main_util {}

#wrapCont .cont {padding:25px 0; background:#fff;}

#wrapCont .visualBox {margin-bottom:10px;}
#wrapCont .main_slide {margin-bottom:10px;}
#wrapCont .main_slide .bx-wrapper {position:relative;}
#wrapCont .main_slide .bx-wrapper img {width:100%; vertical-align:top;}
#wrapCont .bx-wrapper .bx-pager {position:absolute;width:100%;bottom:140px;text-align: center;}
#wrapCont .bx-wrapper .bx-pager.bx-default-pager a {
  background:url('/img/common/m_pager.png') no-repeat bottom center; background-size:22px 44px; text-indent:-9999px; display:block; width:22px; height:22px; margin:0 5px; outline:0;}
#wrapCont .bx-wrapper .bx-pager.bx-default-pager a:hover,
#wrapCont .bx-wrapper .bx-pager.bx-default-pager a.active,
#wrapCont  .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background:url('/img/common/m_pager.png') no-repeat top center;  background-size:22px 44px;
}
#wrapCont .main_slide .bx-wrapper .bx-pager-item,
#wrapCont .main_slide .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline-block; vertical-align:bottom; *zoom:1; *display: inline;}
#wrapCont .main_slide .bx-wrapper .bx-pager-item {font-size:0; line-height:0;}

#wrapCont .bx-wrapper .bx-pager-item,
#wrapCont .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline-block; vertical-align:bottom; *zoom:1; *display: inline;}
#wrapCont .bx-wrapper .bx-pager-item {font-size:0; line-height:0;}
#wrapCont .bx-wrapper .bx-prev{left:-86px; background:url('/img/common/bx_ctrl.png') no-repeat 0 0;}
#wrapCont .bx-wrapper .bx-next{right:-86px;background:url('/img/common/bx_ctrl.png') no-repeat 0 -76px;}
#wrapCont .bx-wrapper .bx-prev:hover{background-position:-76px -76px;}
#wrapCont .bx-wrapper .bx-next:hover{background-position:-76px 0;}
#wrapCont .bx-wrapper .bx-controls-direction a{
	position:absolute;
	top:50%;
	margin-top:-16px;
	outline:0;
	width:76px;
	height:76px;
	text-indent:-9999px;
	z-index:9999;
}
#wrapCont .bx-wrapper .bx-controls-direction a.disabled{display:none;}

/* AUTO CONTROLS (START / STOP) */
#wrapCont .bx-wrapper .bx-controls-auto{position:absolute; left:50%; bottom:30px; margin-left:80px; text-align:center;}
#wrapCont .bx-wrapper .bx-controls-auto .bx-start {
	display:block;
	text-indent:-9999px;
	width:23px;
	height:23px; 
	outline:0;
	background:url('/img/common/m_bx_ctrl.png') -45px -23px no-repeat;
	background-size:70px 90px;
	margin:0 3px;
}
#wrapCont .bx-wrapper .bx-controls-auto .bx-start.active {display:none;}

#wrapCont .bx-wrapper .bx-controls-auto .bx-stop{
	display:block;
	text-indent:-9999px;
	width:23px;
	height:23px;
	outline:0;
	background:url('/img/common/m_bx_ctrl.png') -45px -0px no-repeat;
	background-size:70px 90px;
	margin:0 3px;
}
#wrapCont .bx-wrapper .bx-controls-auto .bx-stop.active {display:none;}

#wrapCont .main_slide .bx-wrapper .main_bx {}
#wrapCont .main_slide .bx-wrapper .main_bx li {padding-bottom:32px;}
#wrapCont .main_slide .bx-wrapper .main_bx li .main_info {padding:18px 17px; width:100%;}
#wrapCont .main_slide .bx-wrapper .main_bx li .main_info .banner_title {line-height:1.2; font-size:20px;}
#wrapCont .main_slide .bx-wrapper .main_bx li .main_info .banner_txt {display:none;}
#wrapCont .main_slide .bx-wrapper .main_bx li .main_info .btn_link {bottom:0; right:17px; width:60px; height:60px;}

#wrapCont .contBox0 {padding:10px 18px 70px;}
#wrapCont .contBox0 .sec_tit {font-size:1.4rem;}
#wrapCont .contBox0 .sec_tit > small {margin-bottom:5px; font-size:1rem;}
#wrapCont .contBox0 ul {margin-top:38px; padding:5px 15px;}
#wrapCont .contBox0 ul > li {position:relative; padding:20px 0 20px 62px; line-height:1.4; font-size:.8rem; border-top:1px solid #dedede;}
#wrapCont .contBox0 ul > li .btn_ico {position:absolute; top:20px; left:17px;}
#wrapCont .contBox0 ul > li:first-child {border-top:0 none;}

#wrapCont .contBox1 { padding:0 17px;}
#wrapCont .contBox1 ul {overflow:hidden;}
#wrapCont .contBox1 ul > li {float:left; margin:21px 8px; width:calc(50% - 16px);}
#wrapCont .contBox1 ul > li .thumb {}
#wrapCont .contBox1 ul > li .thumb img {width:100%;}
#wrapCont .contBox1 ul > li .txt_box {bottom:0; left:0; width:100%; height:35px; line-height:35px;}
#wrapCont .contBox1 ul > li .txt_box .explain_tit {padding:10px 0; font-size:13px; font-weight:900;text-align:center;}
#wrapCont .contBox1 ul > li .txt_box .explain_txt {display:none;}
#wrapCont .contBox1 ul > li .txt_box .inner_link {display:none;}

#wrapCont .contBox2 {margin-bottom:30px;}
#wrapCont .contBox2 .ev_now {padding:28px 32px 0;}
#wrapCont .ev_now .bx-wrapper .bx-pager {bottom:0;}
#wrapCont .contBox2 .now_bx {width:723% !important;}
#wrapCont .contBox2 .now_bx .bx-viewport {}
#wrapCont .contBox2 .now_bx li {}
#wrapCont .contBox2 .now_bx li .now_info {position:static;}
#wrapCont .contBox2 .now_bx li img {width:100%;}
#wrapCont .contBox2 .now_bx li .now_info {display:block;}
#wrapCont .contBox2 .now_bx li .now_info .banner_txt {}
#wrapCont .contBox2 .now_bx li .now_info .banner_title {}
#wrapCont .contBox2 .now_bx li .now_info .btn_link {}
#wrapCont .contBox2 .now_bx li .now_info .btn_link span {}

#wrapCont .contBox2 .info_wrap {display:none;}

#wrapCont .contBox3  {padding:50px 17px; background:#f5f4f6;}
#wrapCont .contBox3 .sec_txt {line-height:1.4;}
#wrapCont .contBox3 .sec_txt .m_block {display:block;}
#wrapCont .contBox3 .line_tit {margin-top:45px; padding-left:10px; line-height:1; font-size:16px;}
#wrapCont .contBox3 .line_tit:after {top:0; left:0; width:2px; height:15px; background:#7d47a2;}
#wrapCont .contBox3 .reserve_box {margin:0px -8px 0;}
#wrapCont .contBox3 .reserve_box .col_2 {margin:0 8px; width:calc(50% -  16px);}
#wrapCont .contBox3 .reserve_box .tit {margin-top:12px; font-size:13px; font-weight:900;}
#wrapCont .contBox3 .reserve_box .thumb {margin-top:20px;}
#wrapCont .contBox3 .reserve_box .thumb img {width:100%;}
#wrapCont .contBox3 .gLeft, #wrapCont .contBox3 .gRight  {float:none;}
#wrapCont .contBox3 .customer {margin-top:16px;}
#wrapCont .contBox3 .customer > li {padding:25px;}
#wrapCont .contBox3 .customer > li dl {font-size:14px;}
#wrapCont .contBox3 .customer > li dt {font-weight:900;}
#wrapCont .contBox3 .customer > li dd ul {margin-top:20px;}
#wrapCont .contBox3 .customer > li dd li {margin:10px 0;}
#wrapCont .contBox3 .customer > li dd li > strong {display:inline-block; padding-left:23px; width:0; text-indent:-999em; background-repeat:no-repeat; background-size:13px 11px; background-position:}
#wrapCont .contBox3 .customer > li dd li .time {background-image:url('/img/common/bg_time.png');}
#wrapCont .contBox3 .customer > li dd li .custom {background-image:url('/img/common/bg_custom.png')}
#wrapCont .contBox3 .customer > li dd li .bar {display:inline-block;}

#wrapCont .contBox3 {margin-bottom:0; padding-bottom:63px;}
#wrapCont .contBox3 .bx-wrapper {position:relative;}
#wrapCont .contBox3 .bx-wrapper img {width:100%;}
#wrapCont .contBox3 .bx-wrapper .bx-pager {position:absolute;width:100%;bottom:-40px;text-align: center;}
#wrapCont .contBox3 .bx-wrapper .bx-pager.bx-default-pager a {
  background:url('/img/common/pager01.png') no-repeat bottom center; text-indent:-9999px; display:block; width:9px; height:9px; margin:0 5px; outline:0;}
#wrapCont .contBox3 .bx-wrapper .bx-pager.bx-default-pager a:hover,
#wrapCont .contBox3 .bx-wrapper .bx-pager.bx-default-pager a.active,
#wrapCont .contBox3 .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background:url('/img/common/pager01.png') no-repeat top center;
}
#wrapCont .contBox3 .bx-wrapper .bx-pager-item,
#wrapCont .contBox3 .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline-block; vertical-align:bottom; *zoom:1; *display: inline;}
#wrapCont .contBox3 .bx-wrapper .bx-pager-item {font-size:0; line-height:0;}



#wrapCont .status {display:none;}

#wrapCont .contents .title {margin-top:40px; font-size:1.7rem;}
#wrapCont .contents .title.tit_box {padding-bottom:40px;}
.tab_menu {margin-top:30px;}
#wrapCont .contents .top_box {margin-top:50px; padding:25px; background-color:#f5eeff; background-image:url('/img/officer/m_std_reserve.png'); background-size:320px 95px; background-position:right bottom;}
#wrapCont .contents .top_box .txt {line-height:1.5; text-align:left; font-size:1.1rem;}
#wrapCont .contents .top_box .btn_box {margin:0; text-align:left;}
#wrapCont .contents .top_box .normal {margin:15px 0 0; padding:15px; font-size:.9rem; font-weight:600;}
#wrapCont .contents .top_box > .small {margin-top:10px; padding-left:13px; width:100px; font-size:11px; text-indent:-13px;}

#wrapCont .contents .top_box.reserve {padding:28px 90px 28px 25px; height:auto; background-color:#edf6fb; background-image:url('/img/common/m_reserve_main.png'); background-size:212px 172px; background-position:right bottom;}
#wrapCont .contents .top_box.reserve .txt {line-height:1.6; font-size:1rem; font-weight:300; text-align:left; color:#333;}
#wrapCont .contents .top_box.reserve .txt em {display:block;}
#wrapCont .contents .top_box.reserve .txt br {display:none;}
#wrapCont .contents .top_box.reserve .btn_box {text-align:left;}
#wrapCont .contents .top_box.reserve .btn_box a {margin-left:0; background:#50758a;}
#wrapCont .contents .top_box.reserve .small {margin-top:11px; font-size:12px;}

#wrapCont .step_box {padding:50px 0 10px;}
#wrapCont .step_box > ol {}
#wrapCont .step_box > ol > li {width:19%;}
#wrapCont .step_box > ol > li:after {top:36%; right:-30%; width:100%; height:1px;}
#wrapCont .step_box > ol > li .step_inner {margin-top:5px;}
#wrapCont .step_box > ol > li .step_inner .step_block {display:block;}
#wrapCont .step_box .thumb {padding:1.2em 0; background-size:54px 54px; background-position:center top;}
#wrapCont .step_box > ol > li .m_block {display:block;}

#wrapCont .cont_box {margin-top:50px;}
#wrapCont .cont_box .toggle_menu {margin-top:15px;}
#wrapCont .cont_box .toggle_menu dt {padding:18px 15px 10px; line-height:1.4; font-size:1rem; background-image:url('/img/common/dt_list_mState.png'); background-size:17px 120px; background-position:97% 120%;}
#wrapCont .cont_box .toggle_menu dt.on {background-position:97% -20%;}
#wrapCont .cont_box .toggle_menu dt .subject {display:block;}
#wrapCont .cont_box .toggle_menu dd {font-size:.95rem;}
#wrapCont .cont_box .toggle_menu dd > ul {padding:15px;}
#wrapCont .cont_box .toggle_menu dd > ul > li {margin:15px 0; padding-left:13px; line-height:1.4;}
#wrapCont .cont_box .toggle_menu dd > ul > li:after {top:5px; left:0; width:3px; height:3px;}
#wrapCont .cont_box .toggle_menu dd > ul > li ul {margin-top:10px;}

#wrapCont .cont_box .toggle_menu dd .cost_box {border-top:1px solid #dedede; padding:15px;}
#wrapCont .cont_box .toggle_menu dd .cost_top > p {margin:10px 0; font-size:1rem;}
#wrapCont .cont_box .toggle_menu dd .cost_top .total_txt {}
#wrapCont .cont_box .toggle_menu dd .cost_top .total_cost {margin:20px 0 20px;}
#wrapCont .cont_box .toggle_menu dd .cost_top .total_cost > b {font-size:1.2rem;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul {}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li {margin:20px 0;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li .ticket{width:40%;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li > ul {}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li > ul li {margin:8px 0; padding-left:12px;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li > ul li:after {top:2px; left:0; width:6px; height:7px; background-image:url('/img/common/cost_bullet.gif');}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li > ul li .modify_num {margin-left:20%;}
#wrapCont .cont_box .toggle_menu dd .cost_box > ul li > ul li .modify_num input {width:50px;}
#wrapCont .cont_box .toggle_menu dd > ul > li .r_tit {font-size:1rem;}
#wrapCont .cont_box .toggle_menu dd > ul > li .t_tit {font-size:.8rem;}

#wrapCont .cont_box .amount_wrap {margin-bottom:35px;}
#wrapCont .cont_box .part_tit {margin-bottom:17px; font-size:1rem;}
#wrapCont .cont_box .amount_wrap .amount_infomation {}
#wrapCont .cont_box .amount_wrap .amount_infomation > li {}
#wrapCont .cont_box .amount_wrap .amount_infomation > li.half .amount_count  {display:inline-block;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amount_count.add {padding-right:30px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .add:after {top:5px; right:-5px; width:26px; height:26px; background-image: url('/img/common/ico_plus.png');}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amoubt_tit {padding:17px 16px; line-height:1.2; font-size:1rem; text-align:left; font-weight:900;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amount_count {padding:0 16px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amount_count .select_box {margin-right:5px; width:50%;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .amount_count input[type="text"] {height:35px; line-height:35px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li.half .amount_count input[type="text"] {margin-left:10px; width:80px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .chk_count {margin:12px 0 20px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .chk_count > span {}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .chk_count .out_line {width:5px; height:6px;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .chk_count .price {}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .total_price {overflow:hidden; padding:14px 16px; text-align:right; font-size:.9rem; border-top:1px solid #dedede;}
#wrapCont .cont_box .amount_wrap .amount_infomation > li .total_price small {float:left;}
#wrapCont .cont_box .info_list {margin-top:10px;}
#wrapCont .cont_box .info_list li {margin:5px 0; padding-left:10px; text-indent:-10px; font-size:.8rem;}

#wrapCont .cont_box .choice_tit {font-size:1.07rem;}
#wrapCont .cont_box .choice_box {}
#wrapCont .cont_box .choice_box > div {margin:19px 0; padding:32px 0; background-size:100% auto;}
#wrapCont .cont_box .choice_box .col_3 {}
#wrapCont .cont_box .choice_box .el {background-image:url('/img/common/m_bg_el.jpg');}
#wrapCont .cont_box .choice_box .cb {background-image:url('/img/common/m_bg_cb.jpg');}
#wrapCont .cont_box .choice_box .stay {background-image:url('/img/common/m_bg_stay.jpg');}
#wrapCont .cont_box .choice_box .choice_txt {}
#wrapCont .cont_box .choice_box .choice_txt > strong {margin-top:10px; font-size:1.2rem;}
#wrapCont .cont_box .choice_box .btn_box {margin-bottom:0;}
#wrapCont .cont_box .choice_box .btn_box a {font-size:.9rem; color:#333; background:#fff;}
#wrapCont .cont_box .choice_box .btn_box a > span {padding-right:38px; background:url('/img/common/choice_arrow.png') no-repeat center right;}

#wrapCont .cont_box {margin-top:50px;}
#wrapCont .cont_box .sub_tit {margin-bottom:15px; line-height:1; font-size:1.1rem;}
#wrapCont .cont_box .sub_tit > em {font-size:.8rem;}
#wrapCont .cont_box #my_reserve {margin-top:15px;}
#wrapCont .cont_box #my_reserve dt {padding:18px 15px 10px; line-height:1.4; font-size:.9rem; background-image:url('/img/common/dt_list_mState.png'); background-size:17px 120px; background-position:97% 120%;}
#wrapCont .cont_box #my_reserve dt.on {background-position:97% -20%;}
#wrapCont .cont_box #my_reserve dt .subject {display:block;}
#wrapCont .cont_box #my_reserve dd > ul {padding:15px;}
#wrapCont .cont_box #my_reserve dd > ul > li {margin:15px 0; padding-left:13px; line-height:1.4;}
#wrapCont .cont_box #my_reserve dd > ul > li:after {top:5px; left:0; width:3px; height:3px;}
#wrapCont .cont_box #my_reserve dd > ul > li ul {margin-top:10px;}

#wrapCont .cont_box #my_faq {margin-top:40px;}
#wrapCont .cont_box #my_faq dt {position:relative; padding:18px 45px 10px; line-height:1.4; font-size:.9rem; background-image:url('/img/common/dt_list_mState.png'); background-size:17px 120px; background-position:97% 100%;}
#wrapCont .cont_box #my_faq dt.on {background-position:97% 0;}
#wrapCont .cont_box #my_faq dt .q_mark {position:absolute; top:14px; left:15px; font-size:17px;}
#wrapCont .cont_box #my_faq dd {padding:28px 40px; line-height:1.4;}

#wrapCont .cont_box .amount_box {}
#wrapCont .cont_box .amount_box > div {padding:26px; border-bottom:1px solid #dedede;}
#wrapCont .cont_box .amount_box > div:last-child {border-bottom:0;}
#wrapCont .cont_box .amount_box > div.ico:after {top:-14px; left:30px; width:26px; height:26px; background-image:url('/img/common/ico_plus.png');}
#wrapCont .cont_box .amount_box > div.ico.amount:after {background-image:url('/img/common/ico_amount.png');}
#wrapCont .cont_box .amount_box > div dl {font-size:15px;}
#wrapCont .cont_box .amount_box > div dt {padding:0 5px; width:30%; text-align:left;}
#wrapCont .cont_box .amount_box > div dd {}
#wrapCont .cont_box .amount_box > div dd > em {font-size:22px;}
#wrapCont .cont_box .amount_box > div dd .sub {margin-top:5px;}
#wrapCont .cont_box .amount_box > div dd .total {font-size:32px;}

/* 달력 */
#wrapCont .cont_box.calendar {}
#wrapCont .cont_box.calendar .gLeft {float:none; width:100%;}
#wrapCont .cont_box.calendar .gRight {float:none; margin-top:19px; width:100%;}

/* 체험학습선택 */
.cont_box .exp_wrap {}
.cont_box .exp_wrap > li {}
.cont_box .exp_wrap .exp_top {padding:20px 15px; background-image:url('/img/common/prg_mstate.png'); background-position:98% 0; background-size:17px 106px;}
.cont_box .exp_wrap .exp_top.on {background-position:98% 100%;}
.cont_box .exp_wrap .exp_top > span {}
.cont_box .exp_wrap .exp_list {}
.cont_box .exp_wrap .exp_list > ul {}
.cont_box .exp_wrap .exp_list > ul > li {}
.cont_box .exp_wrap .exp_list .thumb {margin-top:35px; padding:0 15px;}
.cont_box .exp_wrap .exp_list .thumb img {width:100%;}
.cont_box .exp_wrap .exp_list .program_info {margin-top:23px; padding:0 15px;}
.cont_box .exp_wrap .exp_list .program_info .tit {font-size:1rem;}
.cont_box .exp_wrap .exp_list .program_info .txt {margin-top:14px; font-size:.9rem; line-height:1.2;}
.cont_box .exp_wrap .exp_list .program_info > ul {margin-top:24px; font-size:.8rem;}
.cont_box .exp_wrap .exp_list .program_info .bullet {margin:13px 0; padding-left:13px; background-position:0 4px;}
.cont_box .exp_wrap .exp_list .price {}
.cont_box .exp_wrap .exp_list .price > span {display:inline-block; padding:0 5px; font-size:.9rem;}
.cont_box .exp_wrap .exp_list .price .amount_count {padding:14px 15px;}
.cont_box .exp_wrap .exp_list .price .amount_count input {width:54px; height:20px;}
.cont_box .exp_wrap .exp_list .price .amount_count em {display:inline-block; padding-right:5px;}
.cont_box .exp_wrap .exp_list .price .amount_price {padding-bottom:14px;}
.cont_box .exp_wrap .exp_list .price .total_price {display:block; padding:14px 15px; border-top:1px solid #dedede;}
.cont_box .exp_wrap .exp_list .price .total_price small {font-size:.9rem;}


#wrapCont .cont_box .cal_box {padding:15px;}
#wrapCont .cont_box .cal_box .resort_list {}
#wrapCont .cont_box .cal_box .resort_list li {margin:10px 0;}
#wrapCont .cont_box .cal_box .cal {}

.agree_box .provtit {margin-top:30px;}
.agree_box .policy_txtinfo {margin-top:7px; line-height:18px;}
.agree_box .policy_txtinfo .pd1 {padding-left:15px; line-height:18px;}
.agree_box .box01 {margin-top:10px;}
.agree_box .provbox dl {padding:4px 15px 16px;}
.agree_box .provbox table {margin:5px 0 10px 0; }
.agree_box .provbox table th {padding:9px 0 6px 0; }
.agree_box .provbox table td {padding:9px 5px 6px 10px; }
.agree_box .provbox table td.stit padding:9px 0 6px 0;}
.agree_box .provbox2 {padding:10px 0 0 12px;}

#wrapCont .btn_box {margin:30px 0 60px;}
 
#wrapCont .cont_box .exper_choice .thumb .end_dim {background-image:url('/img/common/img_done.png');}

/* why에버랜드 */
#wrapCont .why_top {margin-top:-41px; padding:30px 20px; background-size:cover;}
#wrapCont .banner_tit {line-height:1.3; font-size:2rem;}
#wrapCont .banner_tit em {display:block;}
#wrapCont .banner_txt {margin-top:20px; line-height:1.6; font-size:.9rem; word-break:keep-all;}
#wrapCont .banner_txt br {display:none;} 
#wrapCont .about_slide {margin-top:48px; padding-bottom:60px;}
#wrapCont .about_slide .slide_info {bottom:5%; left:25px; width:122px; height:122px; line-height:122px; font-size:1rem;}
#wrapCont .about_slide .bx-wrapper .bx-pager {margin-left:17%; bottom:31px;}
#wrapCont .about_slide .bx-wrapper .bx-pager.bx-default-pager a {
  background:url('/img/common/m_pager1.png') no-repeat bottom center; background-size:22px 44px; text-indent:-9999px; display:block; width:22px; height:22px; margin:0 5px; outline:0;}
#wrapCont .about_slide .bx-wrapper .bx-pager.bx-default-pager a:hover,
#wrapCont .about_slide .bx-wrapper .bx-pager.bx-default-pager a.active,
#wrapCont .about_slide .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background:url('/img/common/m_pager1.png') no-repeat top center;  background-size:22px 44px;
}
#wrapCont .about_slide .bx-wrapper .bx-controls-auto {margin-left:140px;}
#wrapCont .about_slide img {width:100%;}
#wrapCont .about_info {font-size:.9rem;}
#wrapCont .about_info br {display:none;}
#wrapCont .cont_box .about_list {margin-top:60px; padding-top:50px;}
#wrapCont .cont_box .about_list > h3 {}
#wrapCont .cont_box .about_list > ul {margin-top:30px}
#wrapCont .cont_box .about_list > ul li {position:relative; margin-bottom:50px; padding-left:18px;}
#wrapCont .cont_box .about_list > ul li .about_no {top:0; left:0; font-size:15px; font-size:11px;}
#wrapCont .cont_box .about_list > ul li .about_no:before {top:-80px; left:9px; width:1px; height:75px;}
#wrapCont .cont_box .about_list > ul li .thumb {position:relative; width:100%; padding-bottom:91%;}
#wrapCont .cont_box .about_list > ul li:first-child + li .thumb {padding-bottom:63.4%;}
#wrapCont .cont_box .about_list > ul li:first-child + li + li .thumb {padding-bottom: 64%;}
#wrapCont .cont_box .about_list > ul li:first-child + li + li + li .thumb {padding-bottom:100%;}
#wrapCont .cont_box .about_list > ul li:first-child + li + li + li + li .thumb {padding-bottom:51%;}
#wrapCont .cont_box .about_list > ul li:first-child + li + li + li + li .thumb img {width:100%; height:auto;}
#wrapCont .cont_box .about_list > ul li .thumb img {position:absolute; top:0; left:0; width:auto; height:100%;}
#wrapCont .cont_box .about_list > ul li .list_tit {margin-top:21px; font-size:1rem;}
#wrapCont .cont_box .about_list > ul li .list_txt {margin-top:15px; font-size:.9rem;}


#wrapCont .sub_txt {line-height:1.4;}
#wrapCont .list_box {}
#wrapCont .list_box.col {}
#wrapCont .list_box.col > div {padding:20px 15px; width:50%; min-height:320px; font-size:.9rem;}
#wrapCont .list_box.col > div:nth-child(odd) {border-top:0 none; border-right:0 none;}
#wrapCont .list_box.col > div:nth-child(3n-1) {border-bottom:0 none;}
#wrapCont .list_box.col > div em {display:block;}
#wrapCont .list_box.col > div b {margin-bottom:10px;}
#wrapCont .list_box.col > div > div {right:15px; bottom:15px;}
#wrapCont .list_box.col > div > div > span {font-size:30px;}
#wrapCont .list_box.col .first {}
#wrapCont .list_box.col .first:after {left:100%; top:50%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events: none; border-color:rgba(255, 151, 28, 0); border-left-color:#ff971c; border-width:10px; margin-top:-10px;}
#wrapCont .safe_box {}
#wrapCont .safe_box .col_2 {margin-top:35px;}
#wrapCont .safe_box .col_2 .box {padding:30px 15px;}
#wrapCont .safe_box .col_2 .box .tit {}
#wrapCont .safe_box.solo .col_2  {margin-top:35px; height:auto;}
#wrapCont .safe_box.solo .col_2  .half_list {margin-top:20px;}
#wrapCont .safe_box.solo .col_2  .half_list li {position:relative; margin:10px 0; padding-left:105px; width:100%; font-size:15px; box-sizing:border-box;}
#wrapCont .safe_box.solo .col_2  .half_list li .thumb {position:absolute; top:0; left:0;}
#wrapCont .safe_box.solo .col_2  .half_list li .thumb img {width:75px; height:75px;}
#wrapCont .safe_box.solo .col_2  .half_list li > p {line-height:1.6; font-size:.9rem;}
#wrapCont .safe_box.solo .col_2  .half_list li > p > span {display:block; margin-bottom:10px; font-size:.8rem; font-weight:900;}
#wrapCont .safe_box.solo .col_2  .half_list li > p br {display:none;}

#wrapCont .safe_box .year_list {}
#wrapCont .safe_box .year_list li {margin:18px 0; line-height:1.2;}
#wrapCont .safe_box .year_list strong {width:20%;}
#wrapCont .safe_box .year_list span {width:80%;}
#wrapCont .safe_box .safe_list {}
#wrapCont .safe_box .safe_list li {margin:30px 0;}
#wrapCont .safe_box .safe_list li .thumb {top:0; left:0; width:27%;}
#wrapCont .safe_box .safe_list li > p {padding-left:30%; line-height:1.4;}
#wrapCont .safe_box .safe_list li > p > span{margin-bottom:15px;}

/* 체험학습 프로그램 */
#wrapCont .what_exp {padding-bottom:35px;}
#wrapCont .what_exp .gLeft {line-height:1.6;}
#wrapCont .what_exp .gRight {margin-top:15px;}


#wrapCont .cont_box .down_box {margin-top:50px;}
#wrapCont .cont_box .done.customer .customer {overflow:hidden;}
#wrapCont .cont_box .done.customer .customer > li {float:left; padding:24px; width:100%; box-sizing:border-box; text-align:left;}
#wrapCont .cont_box .done.customer .customer > li:first-child {border-bottom:1px solid #dedede;}
#wrapCont .cont_box .done.customer .customer dl {}
#wrapCont .cont_box .done.customer .customer dt {font-size:17px; font-weight:900;}
#wrapCont .cont_box .done.customer .customer dd {margin-top:24px; font-size:1.1em; letter-spacing:-0.04em;}
#wrapCont .cont_box .done.customer .customer dd li {margin:5px 0;}
#wrapCont .cont_box .done.customer .customer > li dd li > strong {display:inline-block; padding-left:23px; width:0; text-indent:-999em; background-repeat:no-repeat; background-size:13px 11px; background-position:}
#wrapCont .cont_box .done.customer .customer > li dd li .time {background-image:url('/img/common/bg_time.png');}
#wrapCont .cont_box .done.customer .customer > li dd li .custom {background-image:url('/img/common/bg_custom.png')}
#wrapCont .cont_box .done.customer .customer > li dd li .bar {display:inline-block;}
#wrapCont .cont_box .done.customer .customer dd .custom {font-weight:900;}
#wrapCont .cont_box .done.customer .customer dd .bar {display:inline-block; margin:0 14px; width:1px; height:13px; background:#c8c8c8;}



#wrapCont .tab_box {margin:50px 0 35px;}
#wrapCont .tab_box .menu {border-bottom:0 none;}
#wrapCont .tab_box .menu li {width:calc(25% - 1px); border-bottom:1px solid #dedede;}
#wrapCont .tab_box.month .menu li {width:calc(16.6% - 1px); border-bottom:1px solid #dedede;}
#wrapCont .tab_box .menu li a {padding-top:8px; line-height:1.4; font-size:.8rem; height:45px;}
#wrapCont .tab_box.month .menu li a {height:30px;}
#wrapCont .tab_box .menu li a em {display:block;}
#wrapCont .tab_cont  {}

#wrapCont .exper_navi {}
#wrapCont .exper_navi.fix {left:0; width:100%;}
#wrapCont .exper_navi ul {margin-top:50px;}
#wrapCont .exper_navi.fix ul {margin-top:59px; border:1px solid #dedede; border-right:0 none;} 
#wrapCont .exper_navi li {width:25%;}
#wrapCont .exper_navi.fix li {width:calc(25% - 1px); height:58px; border-right:1px solid #dedede;}
#wrapCont .exper_navi li .thumb {margin:0 auto 5px; width:58px; height:58px; border:1px solid #dedede; border-radius:50%;}
#wrapCont .exper_navi.fix li .thumb {display:block; width:25px; height:25px; border:0 none;}
#wrapCont .exper_navi li .thumb > span {display:inline-block; margin-top:17px; width:25px; height:25px;  background-size:100px 25px;}
#wrapCont .exper_navi.fix li .thumb > span {display:block; margin-top:10px; width:25px; height:25px; background-size:100px 25px;}
#wrapCont .exper_navi li .job {background-position:0 0;}
#wrapCont .exper_navi li .safe {background-position:-25px 0;}
#wrapCont .exper_navi li .emotion {background-position:-50px 0;}
#wrapCont .exper_navi li .history {background-position:-75px 0;}
#wrapCont .exper_navi.fix li .job {background-position:0 0;}
#wrapCont .exper_navi.fix li .safe {background-position:-25px 0;}
#wrapCont .exper_navi.fix li .emotion {background-position:-50px 0;}
#wrapCont .exper_navi.fix li .history {background-position:-75px 0;}

#wrapCont .program_list {}
#wrapCont .program_list > li {margin:35px 7px; width:calc(50% - 14px ); min-height:308px;}
#wrapCont .program_list .first {margin:0 7px; overflow:hidden; width:96%; height:135px; min-height:auto; background-position:center;}
#wrapCont .program_list .first p {float:left; width:50%; text-align:left; box-sizing:border-box;}
#wrapCont  #job_exper .first {background-image:url('/img/program/bg_m_job.jpg');}
#wrapCont  #safe_exper .first {background-image:url('/img/program/bg_m_safe.jpg');}
#wrapCont  #emotion_exper .first {background-image:url('/img/program/bg_m_emotion.jpg');}
#wrapCont  #history_exper .first {background-image:url('/img/program/bg_m_history.jpg');}
#wrapCont .program_list .first .box_tit {padding:30px 25px; font-size:1.1rem;}
#wrapCont .program_list .first .box_tit:after {margin-top:9px; width:14px; height:1px;}
#wrapCont .program_list .first .box_txt {padding:30px 20px 0 7px; position:static;}
#wrapCont .program_list li .thumb {}
#wrapCont .program_list li .thumb img {width:100%;}
#wrapCont .program_list li p {line-height:1.2; font-size:.9rem;}
#wrapCont .program_list li .ex_tit {margin:20px 0;}
#wrapCont .program_list li .ex_txt {}
#wrapCont .program_list li .ex_info {margin-top:15px;}
#wrapCont .program_list li .tag {display:none;}
#wrapCont .program_list li .dl_button {width:100%; bottom:0;}
#wrapCont .program_list li .dl_button a {font-size:.9rem;}
#wrapCont .program_list li .dl_button a > span {padding-right:35px;}
#wrapCont #job_exper .dl_button a > span {background-image:url('/img/common/dl_arrow.png');}
#wrapCont #safe_exper .dl_button a > span {background-image:url('/img/common/dl_arrow01.png')}
#wrapCont #emotion_exper .dl_button a > span {background-image:url('/img/common/dl_arrow02.png')} 
#wrapCont #history_exper .dl_button a > span {background-image:url('/img/common/dl_arrow03.png')}
#wrapCont #job_exper .dl_button.on a > span {background-image:url('/img/common/dl_arrow_on.png');}
#wrapCont #safe_exper .dl_button.on a > span {background-image:url('/img/common/dl_arrow01_on.png')}
#wrapCont #emotion_exper .dl_button.on a > span {background-image:url('/img/common/dl_arrow02_on.png')} 
#wrapCont #history_exper .dl_button.on a > span {background-image:url('/img/common/dl_arrow03_on.png')}
#wrapCont .program_list li .total_btn {position:fixed; top:90px; left:3%; padding-bottom:70px; width:94%;}
#wrapCont .program_list li .total_btn dt {padding:17px 0;}
#wrapCont .program_list li .total_btn dd a {padding:17px 0;}
#wrapCont .program_list li .total_btn dd ul {padding:17px 0;}
#wrapCont .program_list li .total_btn dd li {margin:10px 0;}
#wrapCont .program_list li .total_btn .workbook {padding:17px 0;}
#wrapCont .program_list li .total_btn .close_work {position:absolute; bottom:0; width:100%; text-align:center;}
#wrapCont .program_list li .total_btn .close_work a {display:inline-block; width:50px; height:50px;}
#wrapCont .program_list li .total_btn .close_work img {width:100%;}

/* 숙박형 체험안내 */
.tab_menu.col_6 li {width:calc(17% -  5px);}
.tab_menu li a em {display:block;}
#wrapCont .exper_navi.day li .thumb > span {width:32px; height:25px; background-size:100px 50px;}
#wrapCont .exper_navi.day li .one_day {background-position:0 0;}
#wrapCont .exper_navi.day li .two_day {background-position:-33px 0;}
#wrapCont .exper_navi.day li .three_day {background-position:-67px 0;}
#wrapCont .exper_navi.day li.off .one_day {background-position:0 -26px;}
#wrapCont .exper_navi.day li.off .two_day {background-position:-33px -26px;}
#wrapCont .exper_navi.day li.off .three_day {background-position:-67px -26px;}
#wrapCont .stay_box {}
#wrapCont .stay_list {}
#wrapCont .stay_list > p {}
#wrapCont .stay_list > dl {}
#wrapCont .stay_list > dl {}
#wrapCont .stay_list > dl dt {position:static; display:block; padding:7px 0; width:100%; font-size:1.2rem;}
#wrapCont .stay_list > dl dd {margin-bottom:35px; padding:15px 15px; border:1px solid #dedede;}
#wrapCont .stay_list > dl dd > span {}
#wrapCont .stay_list > dl dd li {margin:15px 0; padding-left:38px; line-height:1.4; background-image:url('/img/common/bg_days.png'); background-size:20px 18px; background-position:left top;}
#wrapCont .stay_list > dl dd li > strong {font-size:.9rem;}
#wrapCont .stay_list > dl dd li > span {padding:4px 0; padding-right:16px; background:url('/img/common/day_arrow.png') no-repeat 98% center;}
#wrapCont .stay_list > dl dd li > span:last-child {padding:0; background:none;}

/* 이용안내 */
#wrapCont .inner_box {margin-top:35px; padding:30px 15px;}
#wrapCont .cont_box .part {margin-bottom:20px; line-height:1.6;}
#wrapCont .inner_wrap {margin-bottom:25px;}
#wrapCont .inner_wrap .inner_tit {font-size:.9rem;}
#wrapCont .inner_wrap ul {margin:20px 0 25px;}
#wrapCont .inner_wrap ul li {margin:7px 0;}
#wrapCont .inner_wrap .step {overflow:hidden; margin:0 -7px}
#wrapCont .inner_wrap .step > li {float:left; margin:15px 7px 40px; width:calc(50% - 14px);}
#wrapCont .inner_wrap .step > li.pc {display:none;}
#wrapCont .inner_wrap .step > li img {width:100%;}
#wrapCont .inner_wrap .step .step_txt {position:relative; margin-top:15px; padding-left:36px; min-height:34px; line-height:1.2;}
#wrapCont .inner_wrap .step .step_txt > span {position:absolute; top:0; left:0; padding:5px;}
#wrapCont .inner_wrap .thumb {margin-top:20px;}
#wrapCont .inner_wrap .thumb img {width:100%;}

#wrapCont .recom_wrap {}
#wrapCont .recom_wrap .recommend {text-align:left;}
#wrapCont .recom_wrap .recommend > li {width:49%; text-align:center;}
#wrapCont .recom_wrap .recommend .icon_box {margin:0 auto; width:84px; height:84px;}
#wrapCont .recom_wrap .recommend .icon_box .btn_ico {display:inline-block; margin-top:25px;}
#wrapCont .recom_wrap .recommend .icon_box .state {top:0; left:0; width:29px; height:29px; line-height:29px; font-size:.7rem;}
#wrapCont .recom_wrap .recommend .tit {margin-top:18px; font-size:.9rem;}
#wrapCont .recom_wrap .recommend .tit:after {margin: 8px auto; width:17px; height:1px;}
#wrapCont .recom_wrap .recommend .txt {line-height:1.5; font-size:.9rem;}

#wrapCont .guide_box {padding:25px; background-image:url('/img/common/bg_m_guide.jpg'); background-size:cover; background-position:right bottom;}
#wrapCont .guide_box.cb {background-image:url('/img/common/bg_m_guide_cb.jpg');}
#wrapCont .guide_box > h3  {padding-top:30px; font-size:1.2rem;background-size:auto 30px;}
#wrapCont .guide_box.cb > h3  {padding-top:25px; background-size:auto 25px;}
#wrapCont .guide_box .btn_box {margin-top:10px;}
#wrapCont .guide_box .btn_box a {margin:.2em; padding:.6em;}
#wrapCont .guide_box .btn_box a span {font-size:.9rem;}

#wrapCont .inner_wrap .step.none > li {float:none; width:calc(100% - 7px); line-height:1.4;} 
#wrapCont .inner_wrap .step.none .step_txt {font-weight:bold;}
#wrapCont .inner_wrap .step.none .step_info > span {display:block;}
#wrapCont .combine_box {}
#wrapCont .combine_box .col_2 {margin-top:35px;}
#wrapCont .combine_box.auto .col_2 {margin-top:20px;}
#wrapCont .combine_box .col_2 .box {padding:30px 15px;}
#wrapCont .combine_box .col_2 .box .tit {margin-bottom:18px;}
#wrapCont .combine_box .year_list {}
#wrapCont .combine_box .year_list li, #wrapCont .combine_box .order_list li {margin:18px 0; line-height:1.2;}
#wrapCont .combine_box .year_list strong {width:20%;}
#wrapCont .combine_box .year_list span {width:80%;}
#wrapCont .combine_box .safe_list {}
#wrapCont .combine_box .safe_list li {margin:30px 0;}
#wrapCont .combine_box .safe_list li .thumb {top:0; left:0; width:27%;}
#wrapCont .combine_box .safe_list li > p {padding-left:30%; line-height:1.4;}
#wrapCont .combine_box .safe_list li > p > span{margin-bottom:15px;}
#wrapCont .combine_box .order_list li {margin-top:18px; padding-left:28px; background-image: url('/img/common/bullet_year.gif'); background-position:0 3px; background-size:}
#wrapCont .combine_box .order_list li:first-child {margin-top:0;}
#wrapCont .combine_box .order_list li:after {bottom:12px; left:5px; width:1px; height:21px; background: url('/img/common/year_bar.gif') repeat-y left center;}
#wrapCont .combine_box .order_list li.first:after {display:none;}

#wrapCont .combine_box.reserve {margin:35px 0 0; padding:20px 20px 7px;}
#wrapCont .combine_box.reserve .tit {margin-bottom:25px; font-size:17px;}
#wrapCont .combine_box.reserve .order_list strong {width:65px;}
#wrapCont .combine_box.reserve .year_list:after {height:140px;}

#wrapCont .info_txt {margin-top:15px; line-height:1.4;}
#wrapCont .info_txt .btn {margin-top:15px; display:block;}
#wrapCont .info_txt a {margin-right:24px; padding-right:15px;}

#wrapCont .sub_bar {padding-bottom:34px; line-height:1.4; font-size:.9rem;}
#wrapCont .thumb_list {}
#wrapCont .thumb_list .list_tit {margin-top:35px; font-size:1rem;}
#wrapCont .thumb_list > ul {}
#wrapCont .thumb_list > ul > li {margin-top:17px;}
#wrapCont .thumb_list > ul .thumb {}
#wrapCont .thumb_list > ul .thumb img {vertical-align:top;}
#wrapCont .thumb_list > ul .conts {padding:25px 18px 12px;}
#wrapCont .thumb_list > ul .conts .tit {font-size:1rem;}
#wrapCont .thumb_list > ul .conts .tit small {display:inline-block;}
#wrapCont .thumb_list > ul .conts .txt {margin-top:15px; line-height:1.5;  font-size:.9rem;}
#wrapCont .thumb_list > ul .conts ul {margin-top:25px;}
#wrapCont .thumb_list > ul .conts .bullet {margin:14px 0; padding-left:14px;}

#wrapCont .food {}
#wrapCont .food .food_box {margin-top:35px; width:calc(100% - 2px); border:1px solid #dedede;}
#wrapCont .food .food_box > h3 {padding:12px 0; font-size:17px;}
#wrapCont .food .food_box .food_wrap {padding:15px;}
#wrapCont .food .food_box .food_tit {margin:20px 0 11px; font-size:17px;}
#wrapCont .food .food_box .food_txt {font-size:15px; min-height:115px;}
#wrapCont .food .food_box .food_wrap dl {}
#wrapCont .food .food_box .food_wrap dt {padding-right:10px;}
#wrapCont .food .food_box .food_wrap dt:after {top:4px; right:0; height:8px;}
#wrapCont .food .food_box .food_wrap dd {padding-left:10px;}
#wrapCont .food .food_box .food_bottom {padding:15px; line-height:1.4;}
#wrapCont .food .food_box .food_bottom li {font-size:14px;}
#wrapCont .food .food_box p {letter-spacing:-1px;}
#wrapCont .inner_box .rest_list {padding-right:15px; width:100%; border:0 none;}
#wrapCont .inner_box .rest_list li {margin-bottom:25px; height:83px;}
#wrapCont .inner_box .rest_list li .thumb {top:0; left:0;}
#wrapCont .inner_box .rest_list li .txt_info {font-size:15px; line-height:1.4;}
#wrapCont .inner_box .rest_list li .txt_info b {margin-bottom:5px; font-size:17px;}

.innder_tab:after {display:block; content:''; clear:both;}
.double_tab {border:0 none;}
.double_tab .col_2 a {padding:15px 0;}
.double_tab .col_3 {width:calc(35% - 2%);}
.double_tab .col_3 a {padding:15px 0;}

#wrapCont .cont_box .exper_box {}
#wrapCont .cont_box .exper_choice {padding:15px;}
#wrapCont .cont_box .exper_choice .ex_tit {font-size:1rem;}
#wrapCont .cont_box .exper_choice > ul {margin:0 -6px;}
#wrapCont .cont_box .exper_choice > ul li {margin:6px; width:calc(50% - 1px); min-height:115px;}

#wrapCont .cont_box .done {/*padding:1em;*/}
#wrapCont .cont_box .done > p {margin-top:20px; font-size:17px; font-weight:800;}
#wrapCont .cont_box .done > p > span {}
#wrapCont .cont_box .done > p > span > em:after {display:block; content:'';}
#wrapCont .cont_box .done .done_tit {margin-top:15px;}
#wrapCont .cont_box .done .done_txt {margin:5px 0; font-size:.9rem;}
#wrapCont .cont_box .done .done_list {margin:17px auto 0; font-size:16px; text-align:left;}
#wrapCont .cont_box .done .done_list li {margin:5px 0; line-height:1.6;}
#wrapCont .cont_box .done .done_list a {display:block; color:#fa7a08;}
#wrapCont .cont_box .done .done_list a > span {text-decoration:underline;}
#wrapCont .cont_box .done .btn_box {margin-top:25px;}
#wrapCont .cont_box .done .btn_box a {width:34%;}

#wrapCont .agree_box {margin-top:50px;}
#wrapCont .agree_wrap {padding:0 14px 24px;}
#wrapCont .agree_top {padding:14px;}
#wrapCont .agree_top .tit {line-height:1.4; font-size:1rem;}
#wrapCont .agree_tit {margin-top:45px; font-size:1rem;}
#wrapCont .agree_box .agchk {margin-top:8px;}
#wrapCont .agree_scroll  {margin-top:15px; padding:10px 23px; height:179px;}
#wrapCont .agree_box .btn_box {margin-top:30px;}

/* Footer */
.main #wrapFooter {margin-top:0;}
#wrapFooter {margin-top:50px; padding:15px 0;}

/* autocomplete */
.ui-autocomplete {width:100%;}
.ui-autocomplete li {padding:6px; font-size:.9rem;}
.ui-autocomplete li:hover {}
#ui-id-1 {width:100%;}

/* common --------------------------------------------------------------------------------------------------------------------------------------------*/
#maskMobile { z-index:10; background-color:#232927; opacity:.7; }
.scroll_navi {display:none;}

.btnTop { display:none; right:15px; bottom:103px; width:43px; height:43px;}
.btnTop a {display:block; height:100%; background:#fff url('/img/common/m_top.png') no-repeat center; background-size:26px 22px}

/* 셀렉트 박스 */
.select_box {position:relative; width:auto; height:36px; background-size:35px 34px;}
.sort.etc .select_box {}
.select_box.shot {width:31%;}
.select_box label {font-size:14px; top:6px; left:9px;}
.select_box select {width:100%; height:32px; min-height:32px; line-height: 32px; padding:0 50px 0 10px;}

/* bullet style */
.bullet_list {padding-left:13px; line-height:1.4; font-size:.9rem;}
.bullet_list:after {left:0; top:6px; width:3px; height:3px;}
.bullet_list.solo {margin-bottom:15px;}

/* table */
.mBoard .rwd-table th {display:none;}
.mBoard .rwd-table tr {display:block; }
.mBoard .rwd-table td {display:block; position:relative; padding:8px; padding-left:43%; height:34px; line-height:1.2;}

.mBoard .rwd-table td:before {position:relative; display:inline-block; margin-left:-100%; width:100%;  padding:8px 0 8px 0; line-height:1.6; content: attr(data-th) ""; vertical-align:top; text-align:left; box-sizing:border-box; z-index:1;}
.mBoard .rwd-table td:after {content:''; position:absolute; top:0; left:0; width:40%; height:50px; background:#f8f8f8; z-index:0;}
.mBoard .rwd-table td > small {display:inline-block; line-height:auto;}


.mBoard td .bullet {padding-left:12px; width:88px; font-size:.9rem; font-weight:600; background-position:left center;}
.mBoard td .bullet.num {width:40px;}
.mBoard .table_sub {margin-top:15px; line-height:1.4; font-size:.9rem;}
.mBoard .table_sub a {display:block;}
.mBoard th, .mBoard td {padding:12px;}
.mBoard.gScroll {overflow-x:scroll;}
.mBoard.gScroll table {width:1170px;}
.mBoard.gBlock td, .mBoard.gBlock tr {display:block;}
.mBoard .select_box {}
.mBoard .select_box.solo { margin:10px 0 0 103px;}
.mBoard td {font-size:.8rem;}
.mBoard td .txt_sel_info {margin-top:10px; padding-left:112px; font-size:14px;}
#wrapCont .mBoard .btn_box {margin-top:20px; text-align:left;}
.mBoard th .head {display:block; margin-bottom:7px; text-align:left;}
.mBoard .head.tit {margin-bottom:12px; line-height:1.6; font-size:1rem; font-weight:bold; color:#333;}
.mBoard .head.left {margin-bottom:0;}

/* 반응형 테이블 */
.mBoard.rs_table table,.mBoard.rs_table thead, .mBoard.rs_table tbody,
.mBoard.rs_table th,.mBoard.rs_table td,.mBoard.rs_table tr {display: block;}
.mBoard.rs_table thead tr { position:absolute; top:-9999px; left:-9999px; }
.mBoard.rs_table td {position:relative; padding:8px; padding-left:44%;}
.mBoard.rs_table td:before {position:absolute; top:0; left:0; width:30%; height:50px; line-height:50px; padding-right:10px; border-right:1px solid #dedede; white-space:nowrap; background:#f8f8f8;}
.mBoard.rs_table td:nth-of-type(1):before { content: "이름"; }
.mBoard.rs_table td:nth-of-type(2):before { content: "휴대폰"; }
.mBoard.rs_table td:nth-of-type(3):before { content: "이메일"; }
.mBoard td .gShort {width:26%;}
.mBoard td a {line-height:1.6;}

.mBoard.file tr, .mBoard.file th, .mBoard.file tbody {display:block; overflow:hidden;}
.mBoard.file td {display:inline-block; float:left; width:33.3333%; box-sizing:border-box;}

.mBoard td > span {display:block;}
.mBoard td > span.ip_sel {display:inline-block;}
.mBoard td .location {padding-bottom:5px; font-size:.9em;}
.mBoard td input {padding:5px; width:55%; height:35px; font-size:.8rem;}
.mBoard td .ip_num {margin-left:10px; width:40px; }
.mBoard td input.gFull {width:100%;}
.mBoard td input.gFull.name {width:30%;}
	
.ip_hidden + label {display:inline-block; margin-right:5px; padding:5px 0  5px 20px; background: url('/img/common/m_chk_off.gif') 0 3px no-repeat; background-size:16px 16px;}
.ip_hidden label.on {background: url('/img/common/m_chk_on.gif') 0 3px no-repeat; background-size:16px 16px;}
.ip_hidden:checked + label {background: url('/img/common/m_chk_on.gif') 0 3px no-repeat; background-size:16px 16px;}

.ui-datepicker th {padding:.6em;}


/* 팝업 */
.popup {top:50%; left:50%; margin:0 15px; width:90%; height:100%;}
.popup .pop_tit {margin-top:15px; font-size:1.2rem;}
.popup .gUtil {margin:30px auto; padding:20px; width:100%;}
.popup .gUtil dl {display:block; margin:5px 0; padding:0 25px; line-height:1; font-size:1rem;}
.popup .gUtil dt {padding-left:15px;}
.popup .gUtil dt:after {top:5px; left:0; width:4px; height:4px; border-radius:50%;}
.popup .gUtil dd {}
.popup .pop_wrap.gScroll {overflow-y:auto; height:60%;}
.popup .pop_wrap h3 {margin-top:20px;}
.popup .pop_wrap .gUtil {}
.popup .pop_wrap .gScroll {overflow-y:auto;}
.popup .btn_close {top:10px; right:10px; width:12px; height:12px;}
.popup .btn_close a {background-image:url('/img/common/pop_close.png'); background-size:12px 12px;}

/*로딩박스*/
.loading_box {left:0; padding:25px; width:100%;}
.loading_box img {width:49px;}
.loading_box > p {margin-top:15px; font-size:1rem;}


/* button */
.btn_box {}
.btn_box.left {text-align:left;}
.btn_box.left a {margin:5px;}
.btn_box > a{padding:10px 20px;}
.btn_box .down {margin-left:0;}
.btn_box .view > span {padding-right:20px; font-size:15px; background-position:center right;}
.btn_box .before span {padding-left:20px; font-size:15px; background-position:center left;}
.btn_box .next span {padding-right:20px; font-size:15px; background-position:center right;}
.btn_box .normal span {padding-right:20px; font-size:15px; background-position:center right;}
.btn_box .cancel {margin:0 0 15px;}

/* 이미지형 아이콘 */
a.btn_ico, button.btn_ico, span.btn_ico {background-image:url('/img/common/sp_icon.png'); background-repeat:no-repeat; background-size:250px 250px;}
.btn_ico.exper {width:35px; height:31px; background-position:0 -41px;}
.btn_ico.program {width:29px; height:31px; background-position:-41px -43px;}
.btn_ico.reserve {margin-top:35px; width:90px; height:90px; background-position:0 -46px;}
.btn_ico.info {width:35px; height:31px; background-position:-117px -40px;}
.btn_ico.more {width:32px; height:32px; background-position:-134px 0;}
.btn_ico.m_count {margin-right:7px; width:6px; height:9px; background-position:-27px -30px;}
.btn_ico.noti {margin-top:-2px; margin-right:2px; width:18px; height:17px; background-position:-166px 0;}
.btn_ico.work {margin-left:5px; width:17px; height:12px; background-position:-59px -30px;}
.btn_ico.tuv {margin-top:4px; width:59px; height:26px; background-position:-182px -20px;}
.btn_ico.pro01 {width:25px; height:31px;background-position:-182px 0;}
.btn_ico.pro02 {width:23px; height:31px;background-position:-124px 0;}
.btn_ico.pro03 {width:34px; height:31px;background-position:-148px 0;}
.btn_ico.pro04 {width:23px; height:31px;background-position:-207px 0;}
.btn_ico.pro05 {width:32px; height:31px;background-position:-92px 0;}
.btn_ico.pro06 {width:25px; height:31px;background-position:-93px -32px;}
.btn_ico.pro07 {width:25px; height:31px;background-position:-120px -32px;}

/* width : 640px ---------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:640px){

}